@use '#scss/allPartials' as *;

.#{$px}-list-preview {
  display: flex;
  flex-direction: column;
  max-width: 24.5rem;
  text-align: left;

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-sm;
    padding: $spacing-sm $spacing-sm $spacing-xsm;
  }

  &__info {
    flex: 1;
    overflow: hidden;
  }

  &__count {
    color: $dark-gray;
    display: block;
    margin-bottom: $spacing-xsm;
  }

  &__title {
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    margin-bottom: 0;
    overflow: hidden;
  }

  &__actions {
    align-items: center;
    align-self: normal;
    display: flex;
    margin-left: $spacing-sm;
  }

  &__media-container {
    position: relative;
    width: 100%;
  }

  &__media {
    background-position: center;
    width: 100%;
  }
}
