@use '#scss/allPartials' as *;

.#{$px}-pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: $spacing-xsm;

  &__button {
    &:disabled {
      border: unset;
    }

    &--is-disabled {
      pointer-events: none;
    }

    &:hover:not(:disabled) {
      background-color: inherit;

      svg path {
        fill: $pure-black;
      }
    }
  }
}

.#{$px}--inline-pagination__wrapper {
  select {
    @include pText($body-size2);

    appearance: none;
    border: none;
    border-bottom: 1px solid $pure-black;
    border-radius: 0;
    font-variation-settings: 'wght' 600;
    margin-bottom: 0;
    outline: none;
    padding: 0 $spacing-micro $spacing-micro;
    text-align: center;
    text-align-last: center;

    &:disabled {
      border-color: transparent;
      margin: auto;
      max-height: 3.5rem;
      max-width: 5rem;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus-visible {
      outline: 1px solid $medium-gray;
    }
  }

  select::-ms-expand {
    border: none;
    display: none;
  }
}

.#{$px}-left-arrow {
  transform: scaleX(-1);
}
