@use '#scss/allPartials' as *;

.#{$px}-user-management {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0 $spacing-xsm;
  justify-content: flex-end;
  min-width: 75px; // needed to handle the loading states and language swapping

  @include isHeaderMobile {
    justify-content: center;
    min-width: 44px; // matching the size of mobile menu icon to allow for equal spacing and centering of logo
  }

  &__login {
    align-items: center;
    background-color: unset;
    border: unset;
    cursor: pointer;
    display: flex;

    &:hover {
      @include underline;
    }

    > p.#{$px}-text {
      margin: 0;
    }

    @include isHeaderMobile {
      display: none;
    }
  }

  &__account-icon {
    height: 1.5rem;
    width: 1.5rem;

    a {
      align-items: center;
      display: flex;
      height: $mobile-minimum-clickable-area;
      justify-content: center;
      width: $mobile-minimum-clickable-area;
    }

    @mixin isHeaderDesktop {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
