@use '#scss/allPartials' as *;

.#{$px}-sale-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  &--image-right {
    @include media($breakpoint-snw-mobile) {
      flex-direction: row-reverse;
    }
  }

  &--image-left {
    @include media($breakpoint-snw-mobile) {
      flex-direction: row;
    }
  }

  &__image {
    align-items: center;
    aspect-ratio: 91/51;
    border-radius: $radius-xs;
    display: flex;
    flex: 0 0 30%;
    justify-content: center;
    min-width: 100%;

    @include media($breakpoint-snw-mobile) {
      min-width: auto;
    }

    img {
      height: auto;
      object-fit: cover;
      width: 100%;
    }
  }

  &__details {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: $spacing-micro;

    @include media($size-snw-mobile, 'max') {
      align-self: flex-start;
    }
  }

  &__ctas {
    flex: 0 0 0%;

    @media (min-width: $breakpoint-snw-mobile) {
      flex-basis: 250px;
    }

    @media (min-width: $breakpoint-lg) {
      flex-basis: 400px;
    }
  }

  &__date_info {
    display: flex;
    flex-direction: row;
  }

  &__separator {
    margin: 0 8px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $spacing-micro;
  }

  &__badge {
    border: 1px solid $badge-blue;
    color: $badge-blue;
    font-size: 0.75rem;
    padding: $spacing-micro 8px;
    text-transform: unset;
  }

  &__auction-type {
    font-size: 0.75rem;
  }

  &__cta-button {
    padding: $spacing-sm $spacing-lg;
    white-space: nowrap;
    width: 100%;
  }

  &__modal-link {
    cursor: pointer;

    @include underline;
  }

  &__modal-link-button {
    padding: 0;
    text-align: left;
    text-transform: none;

    @include underline;
  }

  &__pdf-link {
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: $spacing-micro;
    justify-content: center;

    a {
      text-decoration: none;
    }
  }

  &--relatedSaleTile {
    align-items: flex-start;
    gap: $spacing-sm;

    @include media($size-snw-mobile, 'max') {
      &.#{$px}-sale-card--image-right {
        flex-direction: row-reverse;
      }
      &.#{$px}-sale-card--image-left {
        flex-direction: row;
      }
    }

    .#{$px}-sale-card__image {
      max-width: $spacing-xxxl;
      min-width: 94px;

      @include media($size-xl) {
        max-width: calc($spacing-xxxl * 1.25);
      }
    }
    .#{$px}-sale-card__auction-type {
      font-size: 0.5rem;
    }
  }
}
