@use '~scss/allPartials' as *;
@use '~scss/layers';

@layer seldon.patterns {
  .#{$px}-sale-card-actions {
    &__ctas {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;
      justify-content: center;
      min-width: 200px;
    }
  }
}
