@use '#scss/allPartials' as *;

.#{$px}-loader {
  animation: rotation 1s linear infinite;
  border: 2px solid $primary-black;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  height: var(--button-label-line-height);
  width: var(--button-label-line-height);

  &--centered {
    margin: auto;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
