@use '#scss/allPartials' as *;

// Grid story styles
.grid-example__layout {
  position: relative;

  &::after {
    background-color: $pure-white;
    color: $clock-widget-blue;
    content: '@media (min-width: 360px) -- 2 columns';
    font-family: monospace;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate($spacing-md, 1.5rem);

    @media (min-width: 961px) {
      content: '@media (min-width: 961px) -- 6 columns';
      transform: translate($spacing-md, 2.1875rem);
    }

    @media (min-width: 1401px) {
      content: '@media (min-width: 1401px) -- 12 columns';
      transform: translate($spacing-lg, 2.1875rem);
    }

    @media (min-width: 1801px) {
      content: '@media (min-width: 1801px) -- 12 columns';
      transform: translate($spacing-xl, 2.75rem);
    }
  }

  &::before {
    border: 1px solid $clock-widget-blue;
    content: '';
    height: calc(100% - 1rem);
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, 2.25rem);
    width: calc(100% - 1rem);

    @media (min-width: 961px) {
      height: calc(100% - 1.75rem);
      transform: translate(-50%, 3rem);
    }

    @media (min-width: 1401px) {
      width: calc(100% - 3rem);
    }

    @media (min-width: 1801px) {
      transform: translate(-50%, 3.55rem);
      width: calc(100% - 11rem);
    }
  }

  h1 {
    transform: translateY(-0.25rem);
  }
}

.doc-wrapper {
  .#{$px}-grid {
    margin-bottom: $spacing-md;
    margin-top: $spacing-md;

    h1,
    p {
      grid-column: 1 / -1;
    }

    h1 {
      @include text($heading2);
    }

    p {
      @include text($body1);
    }

    div,
    .grid-example__header,
    .grid-example__section,
    .grid-example__aside,
    .grid-example__footer {
      @include text($body-size2);

      background: $light-gray;
      border-radius: 0.5rem;
      color: $post-sale-magenta;
      padding: 1rem;
      text-align: center;
    }

    .grid-example::after {
      content: '12';
      display: block;
      margin: 0 auto;
    }

    @media (max-width: 960px) {
      .grid-example:nth-child(n + 3) {
        display: none;
      }

      .grid-example::after {
        content: '2';
      }
    }

    @media (min-width: 960px) and (max-width: 1400px) {
      .grid-example:nth-child(n + 7) {
        display: none;
      }

      .grid-example::after {
        content: '6';
      }
    }

    .grid-example__header {
      grid-column: 1 / -1;
    }

    .grid-example__header code::after {
      content: 'header { grid-column: 1 / -1; }';
    }

    .grid-example__section {
      grid-column: 1 / 2;
    }

    .grid-example__section code::after {
      content: 'section { grid-column: 1 / 2; }';
    }

    .grid-example__aside {
      grid-column: 2 / -1;
    }

    .grid-example__aside code::after {
      content: 'aside { grid-column: 2 / -1;}';
    }

    .grid-example__footer {
      grid-column: 1 / -1;
    }

    .grid-example__footer code::after {
      content: 'footer { grid-column: 1 / -1; }';
    }

    @media (min-width: 961px) {
      .grid-example__header {
        grid-column: 1 / -1;
      }

      .grid-example__section {
        grid-column: 1 / 5;
      }

      .grid-example__section code::after {
        content: 'section { grid-column: 1 / 5;} ';
      }

      .grid-example__aside {
        grid-column: 5 / -1;
      }

      .grid-example__aside code::after {
        content: 'aside { grid-column: 5 / -1;} ';
      }

      .grid-example__footer {
        grid-column: 1 / -1;
      }
    }

    @media (min-width: 1401px) {
      .grid-example__header {
        grid-column: 1 / -1;
      }

      .grid-example__header code::after {
        content: 'header { grid-column: 1 / -1; }';
      }

      .grid-example__section {
        grid-column: 1 / 9;
      }

      .grid-example__section code::after {
        content: 'section { grid-column: 1 / 9; }';
      }

      .grid-example__aside {
        grid-column: 9 / -1;
      }

      .grid-example__aside code::after {
        content: 'aside { grid-column:9 / -1; }';
      }

      .grid-example__footer {
        grid-column: 1 / -1;
      }

      .grid-example__footer code::after {
        content: 'footer { grid-column: 1 / -1; }';
      }
    }
  }
}
