@import '../../vars';
@import '../../_utils';

// Shared Input styles
.#{$px}-input {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 0.5rem;

    &--hidden {
      @include hidden();
    }
  }

  &__input {
    align-self: flex-start;
    border: 3px solid currentColor;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: 100%;
  }

  &__validation {
    line-height: 1.25;
  }


  // Small input size
  &--sm {
    .#{$px}-input__input {
      padding: 0.25rem 0.5rem;
    }
  }

  // Large input size
  &--lg {
    .#{$px}-input__input {
      padding: 0.75rem 0.5rem;
    }
  }

  // Large input size
  &--inline {
    align-items: center;
    flex-direction: row;
    gap: 1rem;

    .#{$px}-input__input {
      align-self: center;
      width: unset;
    }
  }

  // Disabled
  &--disabled {
    color: $keyline-gray;

    .#{$px}-input__label,
    .#{$px}-input__input {
      color: inherit;
      cursor: not-allowed;
    }
  }

  // Invalid
  &--invalid {
    color: $error-red;

    .#{$px}-input__label,
    .#{$px}-input__input,
    .#{$px}-input__validation {
      color: inherit;
    }
  }

  // warn
  &--warn {
    .#{$px}-input__label {
      position: relative;

      &::before {
        border-left: 0.75rem solid transparent;
        border-right: 0.75rem solid transparent;
        border-bottom: 1.25rem solid #d6d141;
        content: '';
        height: 0;
        position: absolute;
        right: 14px;
        top: 45px;
        width: 0;
      }
      &::after {
        color: $pure-black;
        content: '!';
        font-family: arial;
        font-size: 0.85vrem;
        height: 2rem;
        width: 2rem;
        position: absolute;
        right: 10px;
        top: 50px;
        text-align: center;
        line-height: 1;
      }
    }
  }
}

