@use '#scss/allPartials' as *;

.#{$px}-auction-tile {
  text-decoration: none;

  &:hover {
    color: #000;
    text-decoration: none;
  }

  .seldon-text--link {
    span {
      display: flex;
      flex-direction: row;
      gap: $spacing-sm;
    }
  }

  &__image {
    aspect-ratio: 16/9;
    max-width: $spacing-xxxl;
    min-width: 90px;

    @include media($size-xl) {
      max-width: calc($spacing-xxxl * 1.25);
    }

    img {
      object-fit: cover;
    }
  }

  &__details {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: $spacing-micro;
  }

  &__date_info {
    display: flex;
    flex-direction: row;
  }

  &__separator {
    margin: 0 8px;
  }

  &__date_location {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-variation-settings: 'wght' 400;
  }
}
