@use '~scss/vars' as *;
@use '~scss/type' as *;

span.h2.custom {
  font-size: 2.5rem;
  margin-bottom: $spacing-md;
}

span.h2 {
  color: $black-100;
}

span.h3 {
  margin: 0;
}

.hr {
  margin: $margin-lg 0;
}

.link {
  font-weight: 600;
  text-decoration: underline;
}

.radius-token-demo {
  display: grid;
  gap: $spacing-lg $spacing-md;
  grid-template-columns: repeat(3, 1fr);
  margin-top: $spacing-lg;

  &__item {
    display: flex;
    flex-direction: column;
    min-width: 120px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $spacing-xsm;
  }

  &__box {
    background: $white-100;
    border: 2px solid $black-100;
    height: 80px;
    width: 80px;

    &--xs {
      border-radius: $radius-xs;
    }

    &--sm {
      border-radius: $radius-sm;
    }

    &--md {
      border-radius: $radius-md;
    }

    &--lg {
      border-radius: $radius-lg;
    }

    &--xl {
      border-radius: $radius-xl;
    }

    &--2xl {
      border-radius: $radius-2xl;
    }

    &--3xl {
      border-radius: $radius-3xl;
    }
  }
}
