@use '~scss/allPartials' as *;

.#{$px}-link-list {
  @include media($size-sm, $type: max) {
    max-width: 30rem;
  }

  .#{$px}-link {
    .seldon-text--link {
      text-decoration: none;
    }
  }

  &--item {
    // mobile first
    grid-column: span 2;

    @include media($size-md) {
      grid-column: span 3;
    }

    @include media($size-lg) {
      grid-column: span 4;
    }
  }
}
