@import '#scss/vars';
@import '#scss/utils';

.#{$px}-split-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-medium;

  &:not(.#{$px}-split-panel--borderless) {
    padding: 2.5rem $spacing-medium;
  }

  @include media('sm') {
    align-items: flex-start;
    flex-direction: row;

    &__left,
    &__right {
      width: 50%;
    }

    &__left {
      border-right: 1px solid;
      padding-right: $spacing-medium;
    }

    &--borderless {
      .#{$px}-split-panel__left {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}
