@use '#scss/allPartials' as *;

.#{$px}-sale-header-banner {
  border-bottom: 1px solid $light-gray;
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-md;

  @include media($size-md, $type: 'min') {
    flex-direction: row-reverse;

    &__image,
    &__stack-wrapper {
      flex: 0 50%;
    }
  }

  &__stack {
    align-items: start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: $spacing-md 0;

    &__countdown {
      display: flex;
      width: 100%;
    }
  }

  &__location {
    font-variation-settings: 'wght' 600;
    margin: $margin-xsm 0;
  }

  &__occurrence-details {
    display: flex;

    &-text {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 4px;

      &::before,
      &::after {
        content: '';
        display: block;
        height: 1rem;
      }

      &:first-child {
        padding-right: $spacing-sm;
      }

      &:not(:first-child) {
        border-left: 1px solid $keyline-gray;
        padding-left: $spacing-sm;
      }
    }
  }

  &__date {
    font-variation-settings: 'wght' 600;
  }

  &__cta {
    margin: $spacing-sm 0;
  }
}
