@use '#scss/allPartials' as *;

.#{$px}-sale-header-banner {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-md;

  @include media($size-md, $type: 'min') {
    flex-direction: row-reverse;

    &__image,
    &__stack-wrapper {
      flex: 0 50%;
    }
  }

  &__stack {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacing-md 0;
  }

  &__location {
    font-variation-settings: 'wght' 600;
    margin: $margin-xsm 0;
  }

  &__occurrence-details {
    display: flex;
    margin-bottom: 1.5rem;

    &-text {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 4px;

      &:first-child {
        padding-right: $spacing-md;
      }

      &:not(:first-child) {
        border-left: 1px solid $keyline-gray;
        padding: 0 $spacing-md;
      }
    }
  }

  &__date {
    font-variation-settings: 'wght' 600;
  }

  &__cta {
    margin: $spacing-sm 0;
  }

  &__countdown {
    margin-top: $spacing-md;

    @include media($size-md, $type: 'min') {
      margin-top: 109px;
    }
  }
}
