@use '#scss/allPartials' as *;

.#{$px}-country-picker {
  &__trigger {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-label {
      margin-bottom: $spacing-xsm;
      white-space: nowrap;

      &--error {
        color: $error-red;
      }
    }

    &-btn {
      align-items: center;
      appearance: none;
      background: $white;
      border: 1px solid $black-100;
      border-radius: $radius-xs;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      font-variation-settings: 'wght' 600;
      justify-content: space-between;
      padding: $spacing-xsm;
      width: 100%;

      &:focus-visible {
        border-color: $pure-black;
        box-shadow: 0 0 0 2px rgba($pure-black, 0.08);
        outline: none;
      }

      &--error {
        border-color: $error-red;
        box-shadow: inset 0 0 3px 3px $error-pink;
      }
    }

    &-text {
      flex: 1;
      font-variation-settings: 'wght' 600;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      margin-left: $spacing-xsm;
      white-space: nowrap;
      margin-right: $spacing-xsm;
    }

    &-icon {
      align-items: center;
      display: flex;

      @media (min-width: $breakpoint-md) {
        height: 1.25rem;
        width: 1.25rem;
      }

      @media (min-width: $breakpoint-xl) {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &-flag {
      align-items: center;
      display: flex;
      height: 1rem;
      justify-content: center;
      overflow: hidden;
      width: 1.5rem;

      @media (min-width: $breakpoint-md) {
        height: 1.25rem;
        width: 1.75rem;
      }

      &-img {
        display: block;
        height: 100%;
        width: auto;
      }
    }
  }
}
.#{$px}-input__validation {
  animation: reveal 0.45s linear forwards;
}
.#{$px}-input__empty-validation {
  line-height: $spacing-sm;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
