@use '#scss/allPartials' as *;

.#{$px}-country-picker {
  &__option {
    align-items: center;
    background: $white-100;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    font-variation-settings: 'wght' 600;
    justify-content: space-between;
    margin-bottom: $spacing-micro;
    margin-right: 1px; // account for scroll bar
    outline: none;
    padding: 12px $spacing-sm;
    transition:
      border-color 0.2s,
      background 0.2s;

    &--selected {
      border: 1px solid $pure-black;

      .#{$px}-country-picker__radio {
        accent-color: $pure-black;
      }
    }

    &--is-phone:focus-within {
      outline: 1px solid $soft-black;
      outline-offset: 1px;
    }

    &-content {
      display: flex;
      flex: 1;
      justify-content: space-between;
      .#{$px}-text {
        font-variation-settings: 'wght' 600;
      }
    }

    &-flag {
      height: 1rem;
      margin-right: $spacing-sm;
      vertical-align: middle;
    }
  }
  .#{$px}-country-picker__radio {
    height: 1.25rem;
    width: 1.25rem;
  }

  &__radio--visually-hidden {
    border: 0;
    height: 1px;
    margin: -1px;
    opacity: 0;
    padding: 0;
    white-space: nowrap;
    width: 1px;
  }
}

// Override focus within styles when phone option is clicked
// TODO: align with design on focus states since the radio input is hidden
.#{$px}-country-picker__option--is-phone.#{$px}-country-picker__option--selected {
  border: 1px solid $pure-black;

  &:focus-within {
    outline: none;
  }
}
