@use '#scss/allPartials' as *;

.#{$px}-combo-box {
  width: 100%;

  &__input {
    border: 1px solid $keyline-gray;
    border-radius: 0.1875rem;
    outline: none;
    padding: $padding-xsm;
    width: 100%;

    &:hover {
      border: 1px solid $primary-black;
    }

    &:focus {
      outline: 1px solid $primary-black;
    }
  }

  &__group {
    padding: $padding-xsm 0;
  }

  &__list {
    height: 200px;
    overflow: hidden;
    overflow-y: auto;
    transition: height 100ms ease;
    width: 100%;
  }

  &__item {
    background-color: $soft-gray;
    padding: $padding-micro $padding-xsm;

    &:hover {
      background-color: $light-gray;
      cursor: pointer;
    }
  }

  &__highlight {
    background-color: $light-gray;
  }
}
