@use '#scss/allPartials' as *;

.#{$px}-combo-box {
  [cmdk-list] {
    height: 200px;
    max-height: 200px;
    min-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    transition: height 100ms ease;
    width: 210px;
  }

  [data-selected='true'] {
    background-color: grey;
  }
}
