@use '#scss/allPartials' as *;

@mixin grid-layout {
  display: grid;
  grid-template-columns: 150px repeat(5, 1fr);
  gap: 0;
}

@mixin cell-base {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  height: 100%;
}

@mixin cell-border($color: $bg-border) {
  border-right: 1px solid $color;
}

.all-variants-grid {
  display: flex;
  flex-direction: column;
  border: 1px solid $bg-border;
  overflow: hidden;
  background-color: $bg-default;

  &__header {
    @include grid-layout;
    font-weight: bold;
    border-bottom: 1px solid $bg-border;
    background-color: $grey-25;

    &-cell {
      @include cell-base;
      @include cell-border;
      justify-content: center;
      text-align: center;

      &:last-child {
        border-right: none;
      }
    }
  }

  &__row {
    @include grid-layout;
    border-bottom: 1px solid $bg-border;
    background-color: $pure-white;
  }

  &__label-cell,
  &__button-cell {
    @include cell-base;
    @include cell-border;

    &:last-child {
      border-right: none;
    }
  }

  &__label-cell {
    font-weight: 600;
    background-color: $grey-25;
    justify-content: flex-start;
  }

  &__ghost-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $grey-75;
    border-radius: inherit;
    z-index: -1;
  }
}
