@use '#scss/vars' as *;
@use '#scss/typography' as *;
@use '#scss/utils' as *;

.#{$px}-button {
  @include bodyText;

  align-items: center;
  background-color: $pure-black;
  border: 0;
  border-radius: 3em;
  color: white;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-width: 3rem;
  padding: 0.5em $spacing-md;
  transition:
    color 0.25s,
    background-color 0.25s,
    font-weight 0.25s;

  &:hover,
  &:focus {
    background-color: $primary-black;

    svg {
      fill: $pure-white;
    }
  }

  svg {
    fill: $pure-white;
    margin-inline-end: 0.5rem;
    transition: fill 0.25s;
    width: 1em;
  }

  &--secondary,
  &--ghost {
    background-color: transparent;
    border: 1px solid;
    color: $text-color;

    &:hover,
    &:focus {
      color: $pure-white;

      svg {
        fill: $pure-white;
      }
    }

    svg {
      fill: $text-color;
    }
  }

  &--ghost {
    border-color: transparent;
  }

  &.#{$px}-button--icon-last svg {
    margin-inline-end: unset;
    margin-inline-start: 0.5rem;
  }

  &--sm {
    font-size: 0.75rem;
  }

  &--md {
    font-size: 1rem;
  }

  &--lg {
    font-size: 1.05rem;
    padding: 0.75em 1.75em;
  }

  &:disabled {
    background-color: $white;
    border: 1px solid $medium-gray;
    color: $medium-gray;
    cursor: default;

    svg {
      fill: $medium-gray;
    }
  }

  * {
    margin: 0;
  }
}

.#{$px}-button__group {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  width: 100%;
}
