@use '~scss/allPartials' as *;

.#{$px}-button {
  // we need this because we can't be sure that the Text component is being used as a child of the Button component
  @include text($labelMedium);

  align-items: center;
  background-color: $pure-black;
  border: 2px solid transparent;
  border-radius: $radius-3xl;
  color: $pure-white;
  cursor: pointer;
  display: inline-flex;
  font-variation-settings: 'wght' 600;
  gap: $margin-xsm;
  height: 44px; // TODO: this is temporary as we will revisit the button in a new ticket
  justify-content: center;
  padding: 0 $padding-sm;
  position: relative;
  transition:
    color 0.25s,
    background-color 0.25s;

  &--small {
    height: 32px; // Explicitly defined by design
    max-width: 160px; // Explicitly defined by design
    min-width: 72px; // Explicitly defined by design
    padding: 0 $padding-sm;

    svg {
      height: calc($font-size-label-small * 1.1);
      width: calc($font-size-label-small * 1.1);

      @include media($breakpoint-md) {
        height: calc($font-size-label-small * 1.2);
        width: calc($font-size-label-small * 1.2);
      }
    }
  }

  svg {
    fill: $pure-white;
    height: calc($font-size-label-small * 1.3);
    width: calc($font-size-label-small * 1.3);

    @include media($breakpoint-md) {
      height: calc($font-size-label-small * 1.4);
      width: calc($font-size-label-small * 1.4);
    }

    path {
      fill: $pure-white;
      transition: 0.25s;
    }
  }

  &--primary,
  &--secondary,
  &--tertiary {
    &.#{$px}-link {
      text-decoration: none;
    }
  }

  &--primary.#{$px}-link,
  &--secondary.#{$px}-link {
    font-variation-settings: 'wght' 600;

    .#{$px}-text {
      font-variation-settings: 'wght' 600;
    }
  }

  &:not(.#{$px}-button--link) {
    &.#{$px}-button--primary {
      color: $white-100;
    }

    .#{$px}-text {
      color: inherit;
      font-variation-settings: inherit;
    }
  }

  @include hoverOrActive {
    background-color: $button-hover;

    svg {
      fill: $pure-white;
    }
  }

  &:focus-visible {
    @include focus-ring($border-radius: $radius-3xl);

    svg {
      fill: $pure-white;
    }
  }

  &--link {
    background-color: transparent;
    border: 0;
    color: $pure-black;
    height: auto;
    padding: 0;
    text-decoration: underline;
    .#{$px}-text {
      font-variation-settings: 'wght' 400;
    }

    &:focus-visible {
      @include focus-ring($border-radius: $radius-3xl);
    }

    &:hover {
      background-color: transparent;
      color: $pure-black;

      .#{$px}-text {
        cursor: pointer;
      }
    }
  }

  &--secondary {
    background-color: $pure-white;
    border: 2px solid $pure-black;
    color: $pure-black;
    transition: border 0.3s ease-out;
    z-index: 0;

    &::before {
      border-radius: $radius-3xl;
      box-sizing: border-box;
      content: '';
      display: inline-block;
      height: 0;
      left: 50%;
      position: absolute;
      top: 50%;
      transition: all 0.25s ease;
      width: 0;
      z-index: -2;
    }

    &:focus-visible {
      @include focus-ring($border-radius: $radius-3xl);

      background-color: $pure-white;
    }

    svg {
      fill: $pure-black;

      path {
        fill: $pure-black;
      }
    }
  }

  &--secondary {
    transition: box-shadow 0.25s;

    @include hoverOrActive {
      background-color: transparent;
      box-shadow: 0 0 0 1px rgba($pure-black, 1);

      &:disabled {
        box-shadow: none;
      }
    }
  }

  &--tertiary {
    background-color: transparent;
    color: $pure-black;

    svg {
      fill: $pure-black;

      path {
        fill: $pure-black;
      }
    }

    @include hoverOrActive {
      background-color: transparent;
      color: $button-hover;

      svg {
        fill: $button-hover;

        path {
          fill: $button-hover;
        }
      }
    }

    &:focus-visible {
      @include focus-ring($border-radius: $radius-3xl);

      background-color: $pure-white;
      padding: 0 4px;
    }
  }

  &:disabled {
    background-color: $grey-50;
    border: 2px solid $grey-50;
    color: $grey-75;
    cursor: default;

    &:hover {
      &::before {
        all: unset;
      }
    }

    svg {
      fill: $grey-75;

      path {
        fill: $grey-75;
      }
    }
  }

  &--tertiary:disabled {
    background-color: transparent;
    border-color: transparent;
  }

  &--link:disabled {
    border: 0;
  }

  * {
    margin: 0;
  }
}

.#{$px}-button__group {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  width: 100%;
}
