@use '#scss/allPartials' as *;

.#{$px}-text {
  @each $variant in $text-tokens {
    &--#{$variant} {
      @include text($variant);
    }
  }
}

h1.#{$px}-text,
blockquote.#{$px}-text {
  margin-bottom: $spacing-lg;
}

h2.#{$px}-text {
  margin-bottom: $spacing-lg;
}
h3.#{$px}-text {
  margin-bottom: $spacing-md;
}
h4.#{$px}-text,
h5.#{$px}-text,
h6.#{$px}-text {
  margin-bottom: $spacing-sm;
}
p.#{$px}-text {
  margin-bottom: $spacing-md;
}
.#{$px}-text--super-script {
  font-size: 60%;
  margin-left: $spacing-xsm;
  vertical-align: text-bottom;
}
