@use '#scss/allPartials' as *;

.#{$px}-notification-banner {
  background: $light-gray;
  color: $pure-black;
  font-size: $snowflake-note-size;
  font-variation-settings: 'wght' 400;
  left: 0;
  line-height: $snowflake-note-line-height;
  padding: $spacing-sm $spacing-md;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: $notification-banner-z-index;

  > *,
  .#{$px}-text {
    font-size: $snowflake-note-size;
    line-height: $snowflake-note-line-height;
    text-align: center;

    a {
      cursor: pointer;
      text-decoration: underline;

      &:hover,
      &:focus-visible {
        color: $dark-gray;
      }
    }
  }

  > .#{$px}-notification-banner-content {
    color: $pure-black;
    font-size: $snowflake-note-size;
    font-variation-settings: 'wght' 400;
    line-height: $snowflake-note-line-height;
    text-align: center;

    a {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .#{$px}-notification-banner-link {
    cursor: pointer;
    text-decoration: underline;
  }
}
