@use '#scss/allPartials' as *;

.#{$px}-notification-banner {
  background: $light-gray;
  left: 0;
  padding: $spacing-sm $spacing-md;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-notification-banner;
}
