@use '#scss/allPartials' as *;

.#{$px}-countdown {
  @include text($body2);

  align-items: center;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  gap: $spacing-micro;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: $spacing-sm;
  width: 100%;

  &--show-bottom-border {
    border-bottom: 1px solid $light-gray;
    margin-bottom: 1.5rem;
  }

  &__countdown-container {
    @include text($heading5);

    align-items: center;
    display: flex;
    flex-shrink: 0;
    gap: $spacing-sm;
    justify-content: center;
    text-transform: inherit;
  }

  &--compact {
    .#{$px}-countdown__countdown-container {
      @include Montserrat;

      gap: $spacing-xsm;
    }
  }
}
