@use '#scss/allPartials' as *;

.#{$px}-countdown {
  align-items: center;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: $spacing-sm;
  width: 100%;

  &--show-bottom-border {
    border-bottom: 1px solid $light-gray;
    margin-bottom: 1.5rem;
  }

  &__countdown-container {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    gap: $spacing-sm;
    justify-content: center;
    text-transform: inherit;

    .#{$px}-text {
      font-variation-settings: 'wght' 600;
    }

    .#{$px}-duration {
      font-variation-settings: 'wght' 600;
    }
  }

  &--compact {
    .#{$px}-countdown__countdown-container {
      gap: $spacing-xsm;
    }
  }

  &--closing-lot {
    .#{$px}-duration,
    .#{$px}-countdown__label {
      color: $countdown-compact;
    }
  }
}
