@use '#scss/allPartials' as *;

.#{$px}-duration {
  @include text($heading5);

  display: flex;
  gap: $spacing-micro;
}

.#{$px}-countdown--compact .#{$px}-duration {
  @include Montserrat;

  color: $countdown-compact;
}
