@use '~scss/allPartials' as *;

.#{$px}-descriptive-radio-button-group {
  // Hide the fieldset border and padding
  border: none;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  margin: 0;
  padding: 0;

  @media (min-width: $breakpoint-md) {
    gap: $spacing-md;
  }

  // Visually hide the legend
  &__sr-only {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }
}
