@use '#scss/allPartials' as *;

.#{$px}-tags-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: $spacing-sm;

  &:focus-visible {
    border: unset;
    outline: 1px solid $black;
    outline-offset: 1px;
  }

  .#{$px}-tag {
    border: 1px solid $black;
    border-radius: 6.25rem;
    gap: $spacing-micro;
    padding: $spacing-micro $spacing-xsm $spacing-micro $spacing-sm;

    &__icon {
      svg {
        color: $black;
        height: 1rem;
        width: 1rem;
      }
    }

    &__label {
      color: $black;
      font-size: $body-size3;
      font-variation-settings: 'wght' 600;
      text-align: center;
      transition: color 0.25s;
    }

    &:hover {
      color: $CTA-hover;

      .#{$px}-tag__label {
        color: $CTA-hover;
      }

      svg {
        color: $CTA-hover;
      }
    }
  }

  &--clear {
    @include text($body3);

    align-items: center;
    border-color: $pure-white;
    border-style: solid;
    border-width: 1px;
    color: $black;
    display: flex;
    gap: $spacing-micro;
    height: 2rem;
    padding: 0 $spacing-sm;

    @include media($breakpoint-xl) {
      padding: $spacing-sm;
    }

    svg {
      fill: $black;
      height: 1rem;
      width: 1rem;

      path {
        fill: $black;
      }
    }

    &:hover {
      color: $CTA-hover;
      cursor: pointer;

      svg {
        fill: $CTA-hover;

        path {
          fill: $CTA-hover;
        }
      }
    }

    &:focus-visible {
      border-color: $black;
      border-radius: 6.25rem;
      border-style: solid;
      border-width: 1px;
      outline-color: transparent;
      outline-offset: unset;
      padding: 0 $spacing-sm;

      @include media($breakpoint-xl) {
        padding: $spacing-sm;
      }
    }
  }
}
