@use '#scss/allPartials' as *;

.#{$px}-tags-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: $spacing-sm;

  .#{$px}-tag {
    border: 1px solid $black-100;
    border-radius: $radius-3xl;
    gap: $spacing-micro;
    height: inherit;
    padding: $spacing-xsm $spacing-sm;
    transition: border-color 0.25s;

    &__icon {
      svg {
        color: $black-100;
        height: 1rem;
        width: 1rem;
      }
    }

    &__label {
      color: $black-100;
      font-size: $body-size3;
      font-variation-settings: 'wght' 600;
      text-align: center;
      transition: color 0.25s;
    }

    &:hover {
      border-color: $cta-hover;
      color: $cta-hover;

      .#{$px}-tag__label {
        color: $cta-hover;
      }

      svg {
        color: $cta-hover;
      }
    }
  }

  &--clear {
    align-items: center;
    border-color: $pure-white;
    border-style: solid;
    border-width: 1px;
    color: $black-100;
    display: flex;
    gap: $spacing-micro;
    height: 2rem;
    padding: 0 $spacing-sm;

    @include media($breakpoint-xl) {
      padding: $spacing-sm;
    }

    svg {
      fill: $black-100;
      height: 1rem;
      width: 1rem;

      path {
        fill: $black-100;
      }
    }

    &:hover {
      color: $cta-hover;
      cursor: pointer;

      svg {
        fill: $cta-hover;

        path {
          fill: $cta-hover;
        }
      }
    }

    &:focus-visible {
      @include focus-ring($border-radius: $radius-3xl);

      padding: 0 $spacing-sm;

      @include media($breakpoint-xl) {
        padding: $spacing-sm;
      }
    }
  }
}
