@use '#scss/vars' as *;
@use '#scss/type' as *;

.type-tokens,
.doc-wrapper {
  .exp {
    @include pText($body-size1);

    color: $keyline-gray;
  }

  .property {
    // @include pText($body-size2);
    // font-weight: 400;
    color: $post-sale-magenta;
  }

  li:not(li strong) {
    color: $clock-widget-green;
    font-family: monospace;
    font-weight: 600;
  }

  li strong {
    color: $clock-widget-blue;
  }

  .example {
    background: #efefef;
    display: block;
    margin-top: 1rem;
    padding: 1.5rem;
    text-align: center;

    .property {
      // @include pText($body-size2);
      // font-weight: 400;
      color: $post-sale-magenta;
    }

    .h4 + ul li:not(li strong) {
      color: $clock-widget-green;
      font-family: monospace;
      font-weight: 600;
    }

    .h4 + ul li strong {
      color: $clock-widget-blue;
    }

    &--h1 {
      @include text($heading1);
    }

    &--h2 {
      @include text($heading2);
    }

    &--h3 {
      @include text($heading3);
    }

    &--h4 {
      @include text($heading4);
    }

    &-title {
      &--h1 {
        @include text($title1);
      }

      &--h2 {
        @include text($title2);
      }

      &--h3 {
        @include text($title3);
      }

      &--h4 {
        @include text($title4);
      }
    }

    &--p1 {
      @include text($body1);
    }

    &--p2 {
      @include text($body2);
    }

    &--p3 {
      @include text($body3);
    }

    &-string {
      &--p1 {
        @include text($body1);
      }

      &--p2 {
        @include text($body2);
      }

      &--p3 {
        @include text($body3);
      }
    }

    &--button {
      @include text($button);
    }

    &--link {
      @include text($link);
    }

    &--email {
      @include text($email);
    }

    &--label {
      @include text($label);
    }

    &--badge {
      @include text($badge);
    }

    &-snw-header-link {
      @include text($snwHeaderLink);
    }

    &-snw-flyout-link {
      @include text($snwFlyoutLink);
    }
  }
}
