/* stylelint-disable declaration-property-value-disallowed-list */
@use '#scss/vars' as *;
@use '#scss/type' as *;

:root {
  .type-block__column--small {
    text-align: left;

    @include font-size-vars--sm;
  }

  .type-block__column--medium {
    text-align: center;

    @include font-size-vars--md;
  }

  .type-block__column--large {
    text-align: right;

    @include font-size-vars--lg;
  }
}

// Flat BEM structure for type-tokens demo
.type-block {
  margin-bottom: 48px;

  &__item {
    border-bottom: 1px solid #eae9e6;
    display: flex;
    flex-direction: column;
    height: 6.5rem;
    justify-content: space-between;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__header {
    border-bottom: 1px solid #eae9e6;
    color: #545454;
    font-family: Montserrat, sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1rem; /* 133.333% */
    padding-bottom: 1rem;
  }

  &__specs {
    color: #545454;
    font-family: Montserrat, sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1rem; /* 133.333% */
  }

  // Titles
  &__title-1 {
    @include text($title1);
  }

  &__title-2 {
    @include text($title2);
  }

  &__title-3 {
    @include text($title3);
  }

  &__title-4 {
    @include text($title4);
  }

  &__heading-1 {
    @include text($heading1);
  }

  &__heading-2 {
    @include text($heading2);
  }

  &__heading-3 {
    @include text($heading3);
  }

  &__heading-3--italic {
    @include text($heading3Italic);
  }

  &__heading-4 {
    @include text($heading4);
  }

  &__heading-4--italic {
    @include text($heading4Italic);
  }

  // Labels
  &__label-large {
    @include text($labelLg);
  }

  &__label-medium {
    @include text($labelMd);
  }

  &__label-small {
    @include text($labelSm);
  }

  &__label-large-bold {
    @include text($labelLgBold);
  }

  &__label-medium-bold {
    @include text($labelMdBold);
  }

  &__label-small-bold {
    @include text($labelSmBold);
  }

  // Buttons & Links
  &__button {
    @include text($button);
  }

  &__link {
    @include text($link);
  }

  &__link-bold {
    @include text($link);

    font-weight: 600;
  }

  // Body
  &__body-large {
    @include text($bodyLg);
  }

  &__body-medium {
    @include text($bodyMd);
  }

  &__body-small {
    @include text($bodySm);
  }

  &__body-large-bold {
    @include text($bodyLgBold);
  }

  &__body-medium-bold {
    @include text($bodyMdBold);
  }

  &__body-small-bold {
    @include text($bodySmBold);
  }

  // Eyebrow
  &__eyebrow-large {
    font-size: 0.75rem;
    font-weight: 500;
  }

  &__eyebrow-small {
    font-size: 0.5rem;
    font-weight: 500;
  }
}
