@import '../../vars';
@import '../../utils';

.#{$px}-grid {
  &__container {
    @include gridContainer(false);
  }

  &__container--has-margins {
    margin: 0 $spacing-medium;

    @media (width >= 1401px) {
      margin: 0 $spacing-large;
    }

    @media (width >= 1801px) {
      margin: 0 $spacing-xl;
    }
  }
}
