@use '~scss/allPartials' as *;

.#{$px}-grid {
  @include gridContainer(false);

  &--has-margins {
    margin: 0 $spacing-md;

    @media (min-width: 1401px) {
      margin: 0 $spacing-lg;
    }

    @media (min-width: 1801px) {
      margin: 0 $spacing-xl;
    }
  }

  // Generate unique classes for column and row gaps with all spacings
  @each $spacing-size in $spacing-sizes {
    &--column-gap-#{$spacing-size} {
      column-gap: var(--spacing-#{$spacing-size});
    }

    &--row-gap-#{$spacing-size} {
      row-gap: var(--spacing-#{$spacing-size});
    }
  }
}
