@use '#scss/allPartials' as *;

.#{$px}-tabs-container {
  @include text($body2);

  width: 100%;

  &__tabs-list {
    display: flex;
    gap: 1rem;
    overflow: hidden; /* Prevent overflow */
    padding: 0 $padding-md;
    position: relative;
  }

  &__tabs-trigger {
    background: none;
    border: none;
    padding: 0 0 $padding-sm;
    transition: background 0.2s ease;

    &:focus-visible {
      outline: 1px solid $medium-gray;
      outline-offset: 3px;
    }

    .#{$px}-text {
      color: $button-hover;
      cursor: pointer;
      font-size: $body-size2;
      line-height: $body-line-height-size2;

      &:hover {
        color: $pure-black;
      }
    }
  }

  &__tabs-trigger[data-state='active'] {
    border-bottom: 2px solid $pure-black;
    color: $pure-black;
    .#{$px}-text {
      color: $pure-black;
      font-variation-settings: 'wght' 600;

      &:hover {
        color: $button-hover;
      }
    }
  }

  /* Underline effect for active tab */
  &__full-bleed-underline {
    background: $light-gray;
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    transition: transform 0.2s ease; /* Underline animation */
  }

  &__tabs-content {
    padding: 20px 0;
  }
}
