@use '#scss/allPartials' as *;

.#{$px}-tabs-container {
  width: 100%;

  &__tabs-list {
    display: flex;
    gap: 1rem;
    overflow: hidden; /* Prevent overflow */
    position: relative;
  }

  &__tabs-trigger {
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    padding-bottom: $spacing-sm;
    padding-inline: 0;
    transition:
      background 0.2s ease,
      font-weight 0.2s ease-out,
      border-bottom 0.2s ease-out;

    &:focus-visible {
      box-shadow: rgba($pure-black, 1) 0 0 0 1px inset;
      outline: none;
    }

    .#{$px}-text {
      color: $button-hover;
      cursor: pointer;
      font-variation-settings: 'wght' 600;

      &:hover {
        color: $pure-black;
      }
    }
  }

  &__tabs-trigger[data-state='active'] {
    border-bottom: 2px solid $pure-black;
    color: $pure-black;

    &:focus-visible {
      box-shadow: rgba($pure-black, 1) 0 0 0 1px inset;
      outline: none;
    }
    .#{$px}-text {
      color: $pure-black;
    }
  }

  /* Underline effect for active tab */
  &__full-bleed-underline {
    background: $light-gray;
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    transition: transform 0.2s ease; /* Underline animation */
  }

  &__tabs-content {
    padding: 20px 0;
  }
}
