@use '~scss/allPartials' as *;

.#{$px}-tabs-container {
  width: 100%;

  &__tabs-list {
    display: flex;
    gap: 1rem;
    overflow: visible;
    position: relative;
  }

  &__tabs-trigger {
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    padding-bottom: $spacing-sm;
    padding-inline: 0;
    position: relative;
    transition:
      background 0.2s ease,
      font-weight 0.2s ease-out,
      border-bottom 0.2s ease-out;

    &:focus-visible {
      outline: none;

      &::after {
        border: 2px solid $focus-default;
        border-radius: $radius-xs;
        inset: -4px -4px -6px;
        content: '';
        pointer-events: none;
        position: absolute;
        z-index: 1;
      }
    }

    .#{$px}-text {
      color: $button-hover;
      cursor: pointer;
      font-variation-settings: 'wght' 600;

      &:hover {
        color: $pure-black;
      }
    }
  }

  &__tabs-trigger[data-state='active'] {
    border-bottom: 2px solid $pure-black;
    color: $pure-black;

    &:focus-visible {
      outline: none;

      &::after {
        border: 2px solid $focus-default;
        border-radius: $radius-xs;
        inset: -6px -6px -8px;
        content: '';
        pointer-events: none;
        position: absolute;
        z-index: 1;
      }
    }
    .#{$px}-text {
      color: $pure-black;
    }
  }

  /* Underline effect for active tab */
  &__full-bleed-underline {
    background: $light-gray;
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    transition: transform 0.2s ease; /* Underline animation */
  }

  &__tabs-content {
    padding: 20px 0;
  }
}
