@use '../../utils/vars' as *;

.#{$px}-hero-banner {
    align-items: center;
    background: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-height: 25rem;
    padding: 1rem;
    width: 100%;

    h1,
    h1 span,
    p {
        color: $pure-white;
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;
    }

    p {
        font-size: 0.875rem;
        line-height: 1;
        letter-spacing: 0.125rem;
        text-align: center;
    }

    & .#{$px}-hero-banner__pre-head {
        align-items: flex-start;
        display: flex;
        font-size: 0.75rem;
        gap: 1.875rem;

        @media (min-width: 28.8125rem) {
            font-size: 0.875rem;
        }
    }

    &__heading {
        margin: 1.875rem 0;

        h1,
        h1 span {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            text-align: center;
            text-transform: uppercase;
        }

        h1 {
            font-size: 2rem;
            line-height: 1;

            @media (min-width: 28.8125rem) {
                font-size: 2.375rem;
            }

            span {
                font-size: 1.625rem;
            }
        }

    }
}
