@use '#scss/allPartials' as *;

.#{$px}-account-page-header {
  &__container {
    display: flex;
    flex-direction: column;
    gap: $spacing-xsm;
    width: 100%;
  }

  &__header {
    align-items: center;
    border: 1px solid orange;
    display: flex;
    gap: $spacing-md;
    justify-content: space-between;

    > span {
      border: 1px solid green;
    }
  }

  &__title-wrapper {
    align-items: center;
    border: 1px solid green;
    display: flex;
  }

  &__overline {
    color: $button-hover;
    font-variation-settings: 'wght' 600;
  }

  &__button-wrapper {
    align-items: center;
    border: 1px solid blue;
    display: flex;
    gap: $spacing-sm;
    justify-content: center;
  }

  &__divider.seldon-divider {
    margin: $spacing-md 0;
  }
}
