@use '~scss/allPartials' as *;

.#{$px}-page-content-wrapper {
  padding: 0 $padding-md;

  @media (min-width: $breakpoint-md) {
    padding: 0 $padding-lg;
  }

  @media (min-width: $breakpoint-xl) {
    padding: 0 $padding-xl;
  }
}
