@use '#scss/allPartials' as *;

.#{$px}-detail {
  align-items: center;
  align-items: flex-start;
  align-self: stretch;
  color: $pure-black;
  display: flex;
  gap: $spacing-md;

  &__label-section {
    flex-shrink: 0;
    width: 160px;

    &--label.#{$px}-text {
      font-variation-settings: 'wght' 600;
    }

    @media (max-width: $breakpoint-md) {
      width: 128px;
    }

    @media (max-width: $breakpoint-sm) {
      width: 96px;
    }

    &--has-sub-label {
      width: 200px;

      @include media($breakpoint-md) {
        width: 160px;
      }

      @media (max-width: $breakpoint-sm) {
        width: 120px;
      }
    }

    &--no-wrap {
      width: unset;

      @media (max-width: $breakpoint-lg) {
        width: unset;
      }

      @media (max-width: $breakpoint-md) {
        width: unset;
      }

      @media (max-width: $breakpoint-sm) {
        width: unset;
      }
    }

    span {
      font-variation-settings: 'wght' 400;
    }
  }

  &__sub-label {
    text-wrap: nowrap;
  }

  &__value {
    font-variation-settings: 'wght' 400;
  }
}
