@use '#scss/allPartials' as *;

.#{$px}-composed-modal {
  &__title {
    margin-top: $spacing-md;
    padding: 0 $spacing-md;
  }

  &__center-align {
    text-align: center;
  }

  &__body {
    overflow-y: auto;
  }
}
