@use '#scss/allPartials' as *;

.#{$px}-pinch-zoom {
  cursor: pointer;
  display: flex;
  flex: 1;
  max-height: 100%;

  &.important {
    height: unset;
    width: unset;
  }

  &-content {
    display: flex;
    flex: 1;
    max-height: 100%;

    &.important {
      flex-wrap: unset;
      height: unset;
      width: unset;
    }
  }

  &-zoomed {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  &-child {
    flex: 1;
    object-fit: contain;
  }
}
