@use '#scss/allPartials' as *;

$opacity-transition: opacity 0.25s ease-in;
$top-transition: top 0.25s ease-in 0.1s;

.#{$px}-nav__list {
  align-items: flex-start;
  flex-direction: column;
  justify-content: left;
  opacity: 1;
  padding: $spacing-md 0;
  transition: $opacity-transition;

  &--offscreen {
    opacity: 0;
    pointer-events: none;
    top: -100%;
  }

  @include isHeaderDesktop {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    transition:
      $top-transition,
      $opacity-transition 0.25s;

    &--offscreen {
      top: -100%;
      transition: $top-transition, $opacity-transition;
      z-index: 5;
    }

    &__section {
      display: grid;
      gap: $spacing-sm;
      width: 50%;

      &:only-child {
        width: 100%;
      }
    }

    .#{$px}-accordion {
      display: none;
    }
  }

  @include isHeaderMobile {
    &__section {
      width: 100%;
    }
    .#{$px}-accordion {
      border-bottom: 0;
      border-top: 0;
      margin-bottom: 0;

      &-item {
        padding: $spacing-sm 0;

        &__border-bottom {
          border-bottom: 1px solid $light-gray;
        }

        &-label {
          opacity: 1;
        }
      }
    }
    .#{$px}-link--snwHeaderLink {
      border-bottom: 1px solid $light-gray;
      flex-wrap: wrap;
      padding: $spacing-sm 0;
    }
    .#{$px}-link--snwFlyoutLink {
      padding: 0;
    }
  }
}
