@use '#scss/vars' as *;

.doc-wrapper {
  .example {
    &--spacing-micro {
      border: $spacing-micro solid $primary-black;
      padding: $spacing-micro;
    }

    &--spacing-xsm {
      border: $spacing-xsm solid $primary-black;
      padding: $spacing-xsm;
    }

    &--spacing-sm {
      border: $spacing-sm solid $primary-black;
      padding: $spacing-sm;
    }

    &--spacing-md {
      border: $spacing-md solid $primary-black;
      padding: $spacing-md;
    }

    &--spacing-lg {
      border: $spacing-lg solid $primary-black;
      padding: $spacing-lg;
    }

    &--spacing-xl {
      border: $spacing-xl solid $primary-black;
      padding: $spacing-xl;
    }
  }

  .spacing-detail {
    padding-inline-start: 0;

    &-wrapper {
      margin-bottom: $spacing-md;
    }
  }

  .token-table {
    border: 1px solid $keyline-gray;
    border-collapse: collapse;
    margin-bottom: $spacing-md;
    width: 100%;

    th {
      background-color: $light-gray;
      border: 1px solid $keyline-gray;
      min-width: 9rem;
      padding: $spacing-sm;
    }

    tr:nth-child(2n) {
      background-color: $off-white;
    }

    td {
      border: 1px solid $keyline-gray;
      padding: $spacing-sm;
      text-align: center;

      *:first-child {
        text-align: right;
      }
    }
  }

  .example-wrapper {
    display: flex;

    /* flex-wrap: wrap; */
    gap: 3rem;
    justify-content: center;

    & > span {
      display: block;

      /* flex: 0; */
      width: 50%;
    }
  }
}
