@use '#scss/allPartials' as *;

// Mobile version of the language selector mirrors the navigation menu link styles
.#{$px}-language-selector {
  display: flex;
  min-width: 87px; // needed to handle English vs Chinese option.  Arguably this should be determined by the Dropdown component the longest element in the dropdown
  opacity: 1;
  transition: opacity 0.25s ease-in;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

  @include isHeaderDesktop {
    &.#{$px}-accordion {
      display: none;
    }
  }

  @include isHeaderMobile {
    border-top: 0;
    &.#{$px}-accordion {
      border-bottom: 0;
    }
    .#{$px}-accordion-item {
      padding: $spacing-sm 0;

      &__border-bottom {
        border-bottom: 1px solid $light-gray;
      }
    }
  }

  &.#{$px}-dropdown {
    display: none;
    padding: $padding-lg 0 $padding-xxl;

    button {
      border: none;
      box-shadow: unset;
      justify-content: space-between;
      outline: none;
      padding: 0.5rem 0.65rem;
      text-transform: unset;
      width: 100%;
    }

    @include isHeaderDesktop {
      display: flex;
      padding: 0;

      button {
        justify-content: center;
        padding: 0;
        width: fit-content;
      }
    }
  }
}
