@use '#scss/allPartials' as *;

$breakpoint-mobile-small: 450px;

.#{$px}-composed-modal {
  border-radius: $radius-md;
  display: flex;
  flex-direction: column;
  height: calc(fit-content - (2 * var(--modal-footer-height, 0px)));
  max-height: 100svh;
  min-width: 35rem;
  overflow: auto;
  padding: $spacing-lg 0 $spacing-sm 0;
  &:not(:has(.#{$px}-composed-modal__btns-group)) {
    padding-bottom: $spacing-lg;
  }

  @include media($breakpoint-md, 'max') {
    border-radius: 0;
    height: 100svh;
    min-width: 0;
    width: 100svw;
  }

  &__body {
    max-height: calc(fit-content - var(--modal-footer-height, 0px));
    overflow-y: auto;
    padding-bottom: var(--modal-footer-height);
    padding-left: $spacing-md;
    padding-right: $spacing-md;
  }

  .#{$px}-divider {
    margin: 0;

    hr {
      margin: 0;
    }
  }

  &__footer {
    background-color: $white-100;
    bottom: 0;
    padding-bottom: $spacing-md;
    position: absolute;
    width: 100%;
  }

  &__btns-group {
    display: flex;
    gap: $spacing-sm;
    justify-content: center;
    margin: 0 $spacing-lg;
    padding: $spacing-md 0 0;

    @media (max-width: $breakpoint-mobile-small) {
      flex-direction: column;
    }
  }

  &__btns-group > * {
    flex: 1 1 50%;

    @media (max-width: $breakpoint-mobile-small) {
      flex: 1 1 auto;
    }
  }

  &__btns {
    padding: 0 $spacing-md $spacing-sm;
  }

  &__disclaimer {
    margin-top: $spacing-sm;
    padding: 0 $spacing-md;
  }
}

.#{$px}-composed-modal__body {
  overflow-y: auto;
}
