@use '#scss/allPartials' as *;

$breakpoint-mobile-small: 450px;

.#{$px}-composed-modal {
  border-radius: $radius-md;
  max-width: 95vw;
  min-width: 0;
  padding: $spacing-lg 0 $spacing-sm 0;
  width: 95vw;
  &:not(:has(.#{$px}-composed-modal__btns-group)) {
    padding-bottom: $spacing-lg;
  }

  &__title {
    margin: $spacing-md $spacing-lg $spacing-sm;
  }

  &__body {
    margin: 0 $spacing-lg $spacing-md;
    max-height: var('--max-modal-body-height');
    overflow-y: auto;
  }

  .#{$px}-divider {
    margin: 0;

    hr {
      margin: 0;
    }
  }

  &__btns-group {
    display: flex;
    gap: $spacing-sm;
    justify-content: center;
    margin: 0 $spacing-lg;
    padding: $spacing-sm 0 0;

    @media (max-width: $breakpoint-mobile-small) {
      flex-direction: column;
    }
  }

  &__btns-group > * {
    flex: 1 1 50%;
    margin: $spacing-xsm 0 0;

    @media (max-width: $breakpoint-mobile-small) {
      flex: 1 1 auto;
    }
  }

  &__btns {
    padding: 0 $spacing-md $spacing-sm;
  }

  &__disclaimer {
    margin-top: $spacing-sm;
    padding: 0 $spacing-md;
  }

  @media (min-width: $breakpoint-md) {
    width: auto;
  }
}

.#{$px}-composed-modal__body {
  max-height: var(--max-modal-body-height);
  overflow-y: auto;
}
