@use '~scss/allPartials' as *;

.#{$px}-breadcrumb {
  @include text($labelMedium);

  color: $pure-black;

  &__back-button:hover svg path {
    fill: $pure-black;
  }

  &__item {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    a {
      margin: $margin-sm;
      outline: none;
      text-decoration: none;
      text-wrap: nowrap;

      &:hover {
        color: $button-hover;
        text-decoration: none;
      }

      &:focus-visible {
        border-radius: $radius-xs;
        outline: 1px solid $medium-gray;
      }
    }

    @include media($breakpoint-xl) {
      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    span {
      margin: $margin-sm;
    }
  }

  ol {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  &--truncate {
    flex-shrink: 1;
    overflow: hidden;

    a {
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .#{$px}-icon-chevron-right {
      flex-shrink: 0;
    }
  }

  &--current {
    color: $primary-black;
    font-variation-settings: 'wght' 700;
    white-space: nowrap;
  }
}
