@use '#scss/allPartials' as *;

.#{$px}-breadcrumb {
  @include text($body3);

  color: $pure-black;

  @media (max-width: $breakpoint-sm) {
    display: none;
  }

  .back-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  ol {
    display: flex;
    flex-direction: row;
    padding: 0;

    li {
      display: flex;
      flex-direction: row;

      a {
        margin: $margin-sm;
        overflow: hidden;
        text-wrap: nowrap;

        &:hover {
          color: $widget-blue;
          text-decoration: none;
        }
      }
    }
  }

  &--current {
    font-weight: 600;
  }
}
