@use '#scss/allPartials' as *;

.#{$px}-select-input {
  margin-bottom: $spacing-sm;
  position: relative;

  &__standalone {
    margin-bottom: 0;
  }

  .#{$px}-select-container {
    position: relative;

    &--show__icon {
      select {
        appearance: none;
        color: $black-100;
        padding-right: 3rem;

        @media (min-width: $breakpoint-md) {
          padding-right: 3.25rem;
        }

        @media (min-width: $breakpoint-xl) {
          padding-right: 4.25rem;
        }
      }
    }
  }

  svg {
    height: 1rem;
    pointer-events: none;
    position: absolute;
    right: 0.35rem;
    top: 45%;
    transform: translateY(-45%);
    width: 1rem;

    @media (min-width: $breakpoint-md) {
      height: 1.25rem;
      right: 0.5rem;
      width: 1.25rem;
    }

    @media (min-width: $breakpoint-xl) {
      height: 1.5rem;
      right: 0.55rem;
      width: 1.5rem;
    }

    path {
      fill: $pure-black;
    }
  }

  select.#{$px}-input {
    &__select {
      &--tertiary {
        border: 1.5px solid $black-100;
        border-radius: $radius-3xl;
        color: inherit;
        padding: $spacing-xsm $spacing-md $spacing-xsm $spacing-sm;

        &:hover {
          cursor: pointer;
        }

        &:focus-visible {
          background-color: $pure-white;
          border-radius: $radius-3xl;
          box-shadow: 0 0 0 0.5px $black-100;
          outline: none;
        }

        svg {
          top: 0.625rem;
        }
      }
    }
  }
}
