@use '#scss/allPartials' as *;

.#{$px}-subscribe {
  max-width: 30rem;

  &__title {
    @include text($heading3);

    margin-bottom: $spacing-xsm;
    text-align: center;
  }

  &__blurb {
    @include text($body2);

    text-align: center;
  }

  @include media($size-sm) {
    &__title,
    &__blurb {
      text-align: left;
    }
  }

  &__input__wrapper {
    margin-top: $spacing-md;
  }

  &__button {
    margin: $spacing-md 0 $spacing-md;
  }
}
