@import '../../vars';
@import '../../_utils';
@import '../../typography';

.#{$px}-viewings-list {
  align-items: center;
  background-color: $off-white;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1rem;
  width: 38rem;

  &__title {
    @include headerText;
  }
}

// viewings-list-card-form
.#{$px}-viewings-list-card {
  align-items: flex-start;
  background-color: $pure-white;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 34rem;
  padding: 2rem;
  width: 100%;

  &__title {
    @include headerText;
    color: $soft-black;
  }

  &__location {
    font-size: 1.25rem;
  }

  &-form__preview-set {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline-start: 1rem;
    width: 100%;

    &--hidden {
      @include hidden;
    }
  }

  hr {
    width: 100%;
  }

  &__btn-group {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
