@import '#scss/vars';
@import '#scss/utils';
@import '#scss/type';

.#{$px}-social {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  padding: $spacing-sm;

  &__button {
    color: $pure-black;
    opacity: 1;
    padding: 0;
    text-decoration: underline;
    white-space: nowrap;

    &:hover {
      background-color: unset;
      color: unset;
    }

    &:focus {
      background-color: unset;
      color: unset;
    }
  }

  @include media($size-sm) {
    align-items: flex-end;
  }

  &__header {
    color: $pure-black;
    font-family: $Distinct;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: $spacing-sm;
  }

  ul {
    align-items: center;
    display: flex;
    gap: 0 1.25rem;
    list-style: none;
    margin: $spacing-md 0 $spacing-md;
    padding: 0;

    @include media($size-sm) {
      gap: 0 1rem;
    }

    li {
      cursor: pointer;
    }
  }

  a {
    display: inline-block;
  }
}
