@use '#scss/allPartials' as *;

.#{$px}-social {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  margin-top: $spacing-md;
  padding: 0;
  width: 100%;

  @include media($size-sm) {
    margin-top: 0;
  }

  .#{$px}-text {
    margin-bottom: $spacing-sm;

    @include media($size-sm) {
      margin-bottom: $spacing-sm;
    }
  }

  @include media($size-sm) {
    align-items: flex-start;
  }

  &__button {
    @include labelText('link');

    padding: 0;
    text-align: left;

    &:hover {
      background-color: unset;
      color: unset;
    }

    &:focus {
      background-color: unset;
      color: unset;
    }
  }

  ul {
    align-items: center;
    border-top: 1px solid #eae8e4;
    display: flex;
    gap: 0 1.25rem;
    justify-content: center;
    list-style: none;
    margin: $spacing-md 0 0;
    padding: $spacing-sm 0 0;
    width: 100%;

    @include media($size-sm) {
      gap: 0 1rem;
      justify-content: flex-start;
      margin: $spacing-sm 0 $spacing-md;
      padding: $spacing-sm 0 0;
      width: 100%;
    }

    li {
      cursor: pointer;
    }
  }

  a {
    display: inline-block;
  }
}
