@use '#scss/allPartials' as *;

.#{$px}-exit-gate-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 $spacing-md;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;

    &__desktop_image {
      overflow: visible;
    }
  }

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    padding-left: $spacing-lg;

    &__desktop_image {
      display: block;
    }
  }

  &__content {
    align-items: flex-start;
    color: $pure-black;
    display: flex;
    flex-direction: column;
    margin: auto 0;

    &-label {
      font-size: var(--label-size2);
      font-variation-settings: 'wght' 400;
      margin-bottom: $spacing-sm;
      text-transform: uppercase;

      @include Montserrat;

      @media (max-width: $breakpoint-md) {
        font-variation-settings: 'wght' 500;
      }
    }

    &-title {
      margin: 0;
    }

    &-description {
      line-height: var(--body-line-height-size1);
      margin: $spacing-sm 0;

      @media (max-width: $breakpoint-md) {
        font-size: $body-size1;
        text-align: center;
      }
    }

    &-link {
      font-size: $body-size3;
      padding: $padding-xsm $padding-xxl;

      @media (max-width: $breakpoint-md) {
        font-size: $body-size2;
      }
    }
  }
}

.#{$px}-exit-gate-card {
  display: flex;
  flex-direction: row-reverse;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    padding: 0;
  }
}
.#{$px}-exit-gate-card__content {
  @media (max-width: $breakpoint-md) {
    align-items: center;
    margin: $spacing-md 0;
    padding: 0 $spacing-xxl;
  }
}

.#{$px}-exit-gate-card__content .#{$px}-exit-gate-card__content-label {
  margin-bottom: $spacing-sm;
}
.#{$px}-exit-gate-card__content .#{$px}-exit-gate-card__content-title {
  margin: 0;
}
.#{$px}-exit-gate-card__content .#{$px}-exit-gate-card__content-description {
  margin: $spacing-sm 0;
}
