@use '~scss/sharedClasses' as *;
@use '~scss/type' as *;
@use '~scss/utils' as *;
@use '~scss/vars' as *;

.story-icon-flex-wrapper {
  box-shadow: 0 0 8px 0 rgba($pure-black, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 24px;
  padding: 24px;
  width: fit-content;

  .icon-set {
    display: flex;
    flex-direction: column;
    margin: 24px 12px;
  }

  .icon-name {
    padding: 8px;
    text-align: center;

    @include text($bodySmall);
  }

  .icon-wrapper {
    &.show-border {
      border: 1px solid $pure-black;
    }

    margin: 0 auto;
  }
}
