@use '#scss/allPartials' as *;

.#{$px}-nav {
  display: flex;
  justify-content: center;
  overflow: hidden auto;

  &__list-container {
    display: flex;
    justify-content: center;
    position: relative;

    @include isHeaderDesktop {
      height: $header-height;
      padding-right: $search-size;
    }
  }

  @include isHeaderDesktop {
    // Remove mobile button on larger screens
    .#{$px}-nav__close-btn {
      display: none;
    }
  }

  &__close-btn:hover,
  &__close-btn:focus {
    background-color: #f4f4f4;
  }
}
