@use '#scss/allPartials' as *;

.#{$px}-nav {
  border-top: 1px solid $light-gray;
  display: flex;
  height: fit-content;
  justify-content: center;

  &__list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 $spacing-sm;
    position: relative;
    width: 100%;

    > .#{$px}-nav__list {
      padding-top: 0;

      @include isHeaderDesktop {
        border-top: unset;
      }

      @include isHeaderMobile {
        padding: 0 $spacing-md;
      }

      .#{$px}-nav__item + .#{$px}-accordion {
        border-top: 0;
      }
    }

    @include isHeaderDesktop {
      flex-direction: row;
      padding-right: $search-size;
    }
  }

  @include isHeaderDesktop {
    border: unset;
    width: fit-content;

    // Remove mobile button on larger screens
    .#{$px}-nav__close-btn {
      display: none;
    }
  }

  &__close-btn:hover,
  &__close-btn:focus {
    background-color: #f4f4f4;
  }
}
