@import '../../vars';

.#{$px}-nav {
  background: $pure-white;
  color: $soft-black;
  height: 99%;
  width: 307px;
  padding-top: 4.5rem;
  position: relative;
  overflow: hidden;

  @media (min-width: 1021px) {
    display: flex;
    overflow: visible;
    padding-top: 0;
    position: unset;
    width: auto;
  }

  // Nav h2 styles
  &__label {
    font-size: 1.25rem;
    visibility: var(--visible);
    padding-left: 0.625rem;
    animation: 1s linear fade-in-out2 forwards;
  }

  &--expanded &__label {
    animation: 1s linear fade-in-out forwards;
  }

  // & &__close-btn {
  //   background-color: transparent;
  //   cursor: pointer;
  //   font-size: 2.5rem;
  //   font-weight: normal;
  //   position: absolute;
  //   top: 0;
  //   height: 60px;
  //   width: 60px;
  //   text-align: center;
  //   left: 0;
  //   line-height: 1;
  // }

  // Back button
  & &__back-btn {
    background-color: transparent;
    cursor: pointer;
    font-weight: 200;
    height: 60px;
    opacity: 0;
    position: absolute;
    padding: 1rem;
    right: 0;
    top: 0;
    transition: opacity 0s linear, background-color 0.5s;
    width: auto;
  }

  &--expanded &__back-btn {
    opacity: 1;
    transition: opacity 0.5s linear 0.25s, background-color 0.5s;
  }

  // Remove label and mobile buttons on larger screens
  @media (min-width: 1021px) {
    .#{$px}-nav__back-btn,
    .#{$px}-nav__close-btn,
    .#{$px}-nav__label  {
      display: none;
    }
  }


  // Zero out default styles for possible children
  a,
  button,
  p {
    border: none;
    color: inherit;
    display: block;
    font-size: 0.75rem;
    font-weight: normal;
    letter-spacing: 0.025rem;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  button{
    appearance: none;
    background: none;
  }

  // ul
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    * {
      cursor: pointer;
    }
  }

  &__list {
    position: relative;

    @media (max-width: 1020px) {
      width: 614px;
      transform: translateX(0%);
      transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1) 0.1s;
    }

    &--expanded {
      @media (max-width: 1020px) {
        transform: translateX(-50%);
      }
    }
  }

  @media (min-width: 1021px) {
    & > .#{$px}-nav__list  {
      display: flex;
    }
  }


  &__list-item {
    max-width: 307px;

    @media (min-width: 1021px) {
      align-items: center;
      display: flex;

      & & {
        border-bottom: 1px solid #ccc;
      }
    }

    ul {
      background: $pure-white;
      opacity: 0;;
      position: absolute;
      top: 0;
      right: 0;
      height: calc(100vh - 70px);
      overflow: hidden;
      width: 307px;
      z-index: -10;
      transition: opacity 0.6s ease-in 0s;

    }
    @media (min-width: 1021px) {
      ul {
        background: #f4f4f4;
        left: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 0.5em;
        justify-content: end;
        align-content: center;
        height: auto;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0 1rem;
        position: fixed;
        top: 60px;
        transition: opacity 0.5s linear 0.2s, max-height 0.5s cubic-bezier(0.65, 0, 0.35, 1) 0s, padding 0.5s linear 0.2s;
        width: 100vw;
        z-index: 1;

        li {
          opacity: 0;
          transition: opacity 0.5s linear;
        }

        // .#{$px}-nav__list-item:nth-child(1) { grid-area: 1 / 3 / 2 / 4; }
        // .#{$px}-nav__list-item:nth-child(2)  { grid-area: 2 / 3 / 3 / 4; }
        // .#{$px}-nav__list-item:nth-child(3)  { grid-area: 3 / 3 / 4 / 4; }
        // .#{$px}-nav__list-item:nth-child(4)  { grid-area: 4 / 3 / 5 / 4; }
        // .#{$px}-nav__list-item:nth-child(5) { grid-area: 1 / 2 / 2 / 3; }
        // .#{$px}-nav__list-item:nth-child(6)  { grid-area: 2 / 2 / 3 / 3; }
        // .#{$px}-nav__list-item:nth-child(7)  { grid-area: 3 / 2 / 4 / 3; }
        // .#{$px}-nav__list-item:nth-child(8)  { grid-area: 4 / 2 / 5 / 3; }
        // .#{$px}-nav__list-item:nth-child(9) { grid-area: 1 / 1 / 2 / 2; }
        // .#{$px}-nav__list-item:nth-child(10)  { grid-area: 2 / 1 / 3 / 2; }
        // .#{$px}-nav__list-item:nth-child(11)  { grid-area: 3 / 1 / 4 / 2; }
        // .#{$px}-nav__list-item:nth-child(12)  { grid-area: 4 / 1 / 5 / 2; }
      }


      &:hover ul   {
        opacity: 1;

        padding: 1rem;
        max-height: 227px;
        transition: opacity 0.5s linear 0s, max-height 0.5s cubic-bezier(0.65, 0, 0.35, 1) 0s, padding 0.5s linear;

        li {
          opacity: 1;
        }
      }
    }

    button,
    a,
    p {
      // background: #fff;
      align-items: center;
      border-bottom: 1px solid #787878;
      display: flex;
      padding: 0.625rem;
      position: relative;
      height: 100%;

      @media (min-width: 1021px) {
        border: none;
      }

    }

    .#{$px}-nav__list-item-trigger::after {
      content: '\203A';
      display: inline-block;
      font-size: 1.75rem;
      font-weight: normal;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      // transition: transform 0.35s ease-in-out;
      @media (min-width: 1021px) {
        content: '';
          // display: none;
      }
    }


    &.#{$px}-nav__list-item--expanded ul {
      opacity: 1;
      z-index: 0;
      transition: opacity 0.6s ease-in 0.25s;
    }
  }
}

// Hover/focus styles

.#{$px}-nav__list-item {
  @media (max-width: 1020px) {
    & > a,
    & > button,
    & > p {
      font-weight: 200;
      background-color: transparent;
      transition:  background-color 0.5s
    }

    & > a:focus,
    & > button:focus,
    & > p:focus {
      background-color: #f4f4f4;
    }

    &:hover {
      & > a,
      & > button,
      & > p {
        background-color: #f4f4f4;
      }
    }

  }

  & {
    & > a:focus,
    & > button:focus,
    & > p:focus {
      font-weight: 800;
    }
  }

  &:hover {
    & > a,
    & > button,
    & > p {
      font-weight: 800;
    }
  }

  @media (min-width: 1021px) {
    position: relative;

    &:not(ul ul li):hover::before {
      content: '';
      background: #f4f4f4;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
    &:not(ul ul li) a:focus,
    &:not(ul ul li) button:focus,
    &:not(ul ul li) p:focus {
      background: #f4f4f4;
    }

    &:not(ul ul li)::after,
    &:not(ul ul li) a:focus::after,
    &:not(ul ul li) button:focus::after,
    &:not(ul ul li) p:focus::after {
        content: '';
        background: rgb(84, 84, 84);
        width: 0;
        height: 2px;
        left: 50%;
        opacity: 0;
        position: absolute;
        transform: translateX(-50%);
        transition: width 0.25s, opacity 0.25s;
        top: 70%;
    }

    &:not(ul ul li):hover::after,
    &:not(ul ul li) a:focus::after,
    &:not(ul ul li) button:focus::after,
    &:not(ul ul li) p:focus::after {
      opacity: 1;
      width: 80%;
    }

    .#{$px}-nav__list-item{
      position: static;
      z-index: 1;
    }

    & > .#{$px}-nav__list-item-trigger::before {
      content: '';
      background: #f4f4f4;
      width: 100%;
      height: 2px;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: opacity 0.25s linear 0.25s;
      top: 100%;
    }

    &:hover > .#{$px}-nav__list-item-trigger::before,
    &:focus > .#{$px}-nav__list-item-trigger::before {
      opacity: 1;
    }
  }
}



.#{$px}-nav__back-btn:hover,
.#{$px}-nav__back-btn:focus,
.#{$px}-nav__close-btn:hover,
.#{$px}-nav__close-btn:focus {
  font-weight: 800;
  background-color: #f4f4f4;
}


// Animations

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-out2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}