@import '#scss/_utils';

@mixin gridItemColumnSpan($span: 1, $total-cols: 12) {
  grid-column: span $span;

  &-align-right {
    grid-column-end: $total-cols + 1;
    justify-self: end;
  }

  &-align-center {
    grid-column: calc((#{$total-cols} + 1 - #{$span}) / 2) / span #{$span};
  }
}

.#{$px}-grid-item {
  justify-self: center;
  text-align: center;
  width: 100%;

  @for $i from 1 through 2 {
    &--span-xs-#{$i} {
      @include gridItemColumnSpan(#{$i}, 2);
    }
  }

  @include media($breakpoint-sm) {
    @for $i from 1 through 4 {
      &--span-sm-#{$i} {
        @include gridItemColumnSpan(#{$i}, 4);
      }
    }
  }

  @include media($breakpoint-md) {
    @for $i from 1 through 12 {
      &--span-md-#{$i} {
        @include gridItemColumnSpan(#{$i}, 12);
      }
    }
  }

  @include media($breakpoint-lg) {
    @for $i from 1 through 12 {
      &--span-lg-#{$i} {
        @include gridItemColumnSpan(#{$i}, 12);
      }
    }
  }
}
