@use '#scss/allPartials' as *;

.#{$px}-viewing-details {
  &__content {
    position: relative;
  }

  &__children {
    margin-bottom: $spacing-md;
  }

  &__center-align {
    text-align: center;
  }

  &__label {
    display: block;
    font-variation-settings: 'wght' 600;
    margin-bottom: 0;
  }

  &__heading {
    padding-bottom: $spacing-sm;
  }

  &__session {
    margin-bottom: $spacing-sm;
  }

  &__viewing-time {
    display: block;
  }

  &__close-icon {
    cursor: pointer;
    position: absolute;
    right: $spacing-sm;
    top: $spacing-sm;
  }

  &__text {
    margin-bottom: $spacing-sm;
  }

  &__location {
    display: block;
    margin-top: $spacing-sm;
  }

  &__map-link {
    margin-bottom: $spacing-md;
  }
}

.#{$px}-viewing-details__content .#{$px}-viewing-details__label {
  margin-bottom: 0;
}
.#{$px}-viewing-details__content .#{$px}-viewing-details__text {
  margin-bottom: $spacing-sm;
}
.#{$px}-viewing-details__content {
  margin-bottom: $spacing-xsm;
  margin-top: $spacing-md;
}
