@import '#scss/vars';
@import '#scss/utils';
@import '#scss/typography';

.#{$px}-nav__item {
  @include isHeaderMobile {
    border-bottom: 1px solid #ccc;
    max-width: 320px;
    width: 100%;
  }

  @include isHeaderDesktop {
    align-items: center;
    display: flex;
    max-width: unset;

    &:hover,
    &:focus,
    &:focus-within {
      .#{$px}-nav__item--label {
        color: $pure-black;
      }
    }

    & & {
      border-bottom: 1px solid #ccc;
    }
  }

  & > button,
  &--label {
    /* TODO: Create token to handle these styles dynamically */
    color: $soft-black;
    display: block;
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: 0.125rem;
    line-height: 0.8125rem;
    text-transform: uppercase;
    width: 100%;

    @include isHeaderMobile {
      position: relative;
    }
  }

  &--expanded ~ & &--label,
  &--expanded ~ & > button {
    @include isHeaderMobile {
      & > span::after {
        content: '';
      }
    }
  }

  ul {
    background: $off-white;
    overflow: hidden scroll;
    position: absolute;
    right: 0;
    top: 0;
    width: 307px;
    z-index: -10;
  }

  @include isHeaderDesktop {
    ul {
      align-content: start;
      background: #f4f4f4;
      height: auto;
      left: 0;
      max-height: 0;
      min-height: 0;
      overflow: hidden;
      position: fixed;
      top: 90px;
      width: 100vw;
      z-index: -1;

      li {
        display: flex;
        justify-content: end;

        button,
        a,
        p {
          @include isHeaderDesktop {
            border: none;
          }
        }

        span {
          &--badge {
            display: flex;
            justify-content: flex-end;
          }

          &--label {
            text-wrap: nowrap;
          }
        }
      }
    }

    &:hover ul,
    &--expanded:focus-within ul {
      max-height: 100vh;
      min-height: 227px;
      padding: 2rem 3.75rem;
      z-index: 1;
    }
  }

  .#{$px}-nav__item-trigger > label::after {
    @include isHeaderMobile {
      content: '\203A';
      display: inline-block;
      font-size: 1.75rem;
      font-weight: normal;
      position: absolute;
      right: 0;
      top: 35%;
      transform: translateY(-50%);
    }

    @include isHeaderDesktop {
      content: '';
    }
  }

  &.#{$px}-nav__item--expanded ul {
    z-index: 0;
  }

  & > a,
  & > button,
  & > p {
    background-color: transparent;
    border: 0;
    display: flex;
    padding: 0.625rem;
  }

  @include isHeaderMobile {
    & > a:focus,
    & > button:focus,
    & > p:focus {
      background-color: #f4f4f4;
    }

    &:hover {
      & > a,
      & > button,
      & > p {
        background-color: #f4f4f4;
      }
    }
  }

  @include isHeaderDesktop {
    position: relative;

    &:not(ul ul li) a:focus,
    &:not(ul ul li) button:focus,
    &:not(ul ul li) p:focus {
      background: #f4f4f4;
    }

    &:not(ul ul li)::after,
    &:not(ul ul li a):focus::after,
    &:not(ul ul li button):focus::after {
      background: rgb(84, 84, 84);
      content: '';
      height: 2px;
      left: 50%;
      position: absolute;
      top: 70%;
      transform: translateX(-50%);
      width: 0;
    }

    &:not(ul ul li):hover::after,
    &:not(ul ul li) a:focus::after,
    &:not(ul ul li) button:focus::after,
    &:not(ul ul li) p:focus::after {
      width: 85%;
    }

    .#{$px}-nav__list-item {
      position: static;
      z-index: 1;
    }

    & > .#{$px}-nav__list-item-trigger::before {
      background: #f4f4f4;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
    }
  }
}

.#{$px}-nav__list__section {
  &--large-cta {
    margin-right: 1rem;

    @include isHeaderMobile {
      margin-right: 0;
    }
    .#{$px}-nav__item {
      &--badge {
        /* TODO: Create token to handle these styles dynamically */
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        font-weight: 400;
        justify-content: flex-end;
        letter-spacing: 0.25rem;
        line-height: 0.8125rem;
        min-width: 25%;
        text-align: right;
        text-transform: uppercase;

        @include pText(0.8125rem, $keyline-gray);

        &:hover {
          color: $keyline-gray;
        }

        @include isHeaderMobile {
          /* TODO: Create token to handle these styles dynamically */
          align-items: flex-start;
          font-size: 0.6rem;
          letter-spacing: 0.125rem;
          min-width: 35%;
        }
      }
    }
  }
}
