@use '~scss/allPartials' as *;

.#{$px}-nav__item {
  .#{$px}-link:not(:hover):not(:focus-visible):not(.#{$px}-nav__item--view-all) {
    text-decoration: none;
  }

  & .#{$px}-link--linkStylised {
    @include media($breakpoint-md) {
      padding: 0.5rem 0.625rem calc(0.5rem + 2px); // 1 px so that the bottom border of the nav counts as part of the button
      position: relative;
      text-align: center;

      &:hover::after,
      &:focus-visible::after {
        background: $pure-black;
        bottom: -1px;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
      }
    }
  }

  @include isHeaderMobile {
    a {
      white-space: normal;
    }

    &--nav-link-start {
      padding-top: $spacing-micro;
    }
  }

  @include isHeaderDesktop {
    align-items: center;
    display: flex;
    max-width: unset;
  }

  .#{$px}-nav__item-trigger > label::after {
    @include isHeaderMobile {
      content: '\203A';
      display: inline-block;
      font-size: 1.75rem;
      font-variation-settings: 'wght' 400;
      position: absolute;
      right: 0;
      top: 35%;
      transform: translateY(-50%);
    }

    @include isHeaderDesktop {
      content: '';
    }
  }

  & > button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    padding: 0.5rem 0.625rem calc(0.5rem + 2px); // 1 px so that the bottom border of the nav counts as part of the button
  }

  @include isHeaderMobile {
    & > a,
    & > button {
      display: flex;
    }
  }

  @include isHeaderDesktop {
    & > .#{$px}-nav__list-item-trigger::before {
      background: $grey-50;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
    }
  }
}

.#{$px}-nav__list__section {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  .#{$px}-text {
    margin-bottom: 0;
  }

  a {
    @include isHeaderMobile {
      display: block;
    }
  }

  &--start,
  &--end {
    &__title {
      @include isHeaderMobile {
        border-bottom: 1px solid $light-gray;
        padding-bottom: $spacing-sm;
      }
    }
  }

  &--end {
    @include isHeaderMobile {
      margin-top: $spacing-md;
    }
  }

  &--start {
    margin-right: 1rem;

    @include isHeaderMobile {
      margin-right: 0;
    }
  }
}
