@use '~scss/allPartials' as *;

.#{$px}-modal {
  background-color: $white-100;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: $padding-md;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  &__close--left {
    left: 0.4rem;
    right: auto;
  }

  &__overlay {
    background-color: $black-75;
    inset: 0;
    position: fixed;
    z-index: 15;
  }

  &__close {
    position: absolute;
    right: $spacing-sm;
    top: $spacing-sm;
    z-index: 100;
  }
}
