@use '#scss/allPartials' as *;

.#{$px}-content-peek {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;

  &-content {
    overflow: hidden;

    &[data-state='closed'] {
      max-height: var(--content-peek-max-height);
    }
  }

  &-overlay {
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;

    &--expanded {
      position: relative;
    }

    &--gradient {
      &::before {
        background: linear-gradient(
          180deg,
          rgba(250, 250, 250, 0%) 0%,
          rgba(255, 255, 255, 5%) 6.25%,
          rgba(255, 255, 255, 75%) 53.65%,
          #fff 90.62%
        );
        content: '';
        height: 100px;
        pointer-events: none;
        width: 100%;
      }
    }
  }

  &-overlay-trigger-wrapper {
    background: #fff;
    display: flex;
    justify-content: center;
    pointer-events: auto;
    width: 100%;
  }

  &-overlay-trigger {
    width: fit-content;
  }
}
