@use '#scss/allPartials' as *;

.#{$px}-object-tile {
  display: flex;
  flex-direction: column;
  max-width: 24.5rem;
  text-align: left;

  &__img {
    margin-bottom: $spacing-sm;
    max-width: 100%;
  }

  &__badge {
    color: $warning-default;
    display: block; // Ensures the badge can be sized correctly
    min-height: 1rem;
    text-transform: uppercase;
  }

  &__title,
  &__maker,
  &__model,
  &__reference-number {
    @include DistinctDisplay;

    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;

    &.#{$px}-text {
      font-variation-settings: 'wght' 600;
    }
  }

  &__lot-number-like {
    align-items: center;
    display: flex;
    font-variation-settings: 'wght' 600;
    margin-bottom: $spacing-xsm;
    position: relative;

    & > :not(.#{$px}-object-tile__lot-number):not(.#{$px}-object-tile__lot-badge) {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .#{$px}-object-tile__lot-badge {
      display: block;
      padding-left: $spacing-xsm;
      position: relative;

      svg {
        height: 100%;
        width: 100%;

        path {
          fill: $pure-black;
        }
      }
    }
  }

  & .#{$px}-object-tile__lot-number {
    display: block;
    margin-bottom: 0;
    padding-top: 2px;
  }

  & .#{$px}-object-tile__maker,
  & .#{$px}-object-tile__model,
  & .#{$px}-object-tile__reference-number,
  & .#{$px}-object-tile__title {
    display: block;
    margin-bottom: 0;
  }

  &__title,
  &__reference-number,
  &__model {
    font-style: italic;
  }

  &__meta {
    display: block;
    margin-bottom: $spacing-sm;
  }

  &__withdrawn {
    font-family: $Distinct;
  }

  &__section {
    .#{$px}-has-separators .#{$px}-detail {
      flex-wrap: wrap;
      gap: 0 $spacing-sm;

      .#{$px}-detail__value {
        text-align: unset;
      }
    }
  }
}
