@use '#scss/allPartials' as *;

.#{$px}-subscribe {
  max-width: 600px;
  width: 100%;

  &__title {
    @include text($heading2);

    margin-bottom: $spacing-xsm;
  }

  &__blurb {
    @include text($bodyLg);

    color: $pure-black;
  }

  &__input__wrapper {
    margin-top: $spacing-md;
  }

  &__button {
    margin: 0.25rem 0 $spacing-sm;
    max-width: 240px;
    width: 100%;
  }

  &__privacy {
    @include text($bodySm);
  }
}
