@use '#scss/allPartials' as *;

.#{$px}-text-symbol {
  display: inline-flex;
  gap: $spacing-micro;

  &--estimation {
    margin-left: 0.25rem;
  }

  &--lotNumber {
    margin-left: $spacing-xsm;
    vertical-align: super;
  }
}
