@use '#scss/allPartials' as *;

.#{$px}-text-symbol {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;

  &--estimation {
    margin-left: 0.25rem;
  }

  &--lotNumber {
    margin-left: $spacing-xsm;
    vertical-align: super;
  }

  &--large-symbol {
    font-size: 65%;
  }

  &--medium-symbol {
    font-size: 85%;
  }

  &--small-symbol {
    font-size: 100%;
  }
}
