@import '#scss/_vars';

.#{$px}-drawer {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  max-width: 480px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  &:focus {
    outline: none;
  }

  @media (max-width: $breakpoint-sm) {
    max-width: 100%;
  }

  @media (max-width: $breakpoint-md) {
    padding-bottom: $padding-sm;
  }

  &__overlay {
    background-color: $overlay-black;
    inset: 0;
    position: fixed;
    z-index: 10;
  }

  &__content-children {
    height: 100%;
    overflow: hidden;
    padding: 1rem; // no token for what design wants
    padding-top: $snowflake-menu-padding;
    width: 100%;

    &--extra-padding {
      // previous Drawer designs wanted 32px padding, new one wants 16px, not sure which if any will win
      padding: 2rem;
      padding-top: 0;
    }

    > * {
      overflow-y: auto;
    }
  }
}

// Bottom sheet modifier
&--bottom {
  border-radius: 16px 16px 0 0;
  box-shadow: 0 -2px 16px rgba(0, 0, 0, 8%);
  height: auto;
  inset: auto 0 0;
  max-width: 100%;
  min-height: 30vh;
  width: 100%;

  @media (max-width: $breakpoint-sm) {
    max-width: 100%;
  }
}

&__bottom-content {
  align-items: center;
  border-bottom: 1px solid $medium-gray;
  display: flex;
  margin-bottom: $spacing-sm;
  width: 100%;

  &--label {
    flex: 1;
    font-variation-settings: 'wght' 600;
    margin: $spacing-md;
    padding-right: $spacing-xxxl;
    text-align: center;
    width: fit-content;
  }
}

// Drawer open/close animations
.#{$px}-drawer[data-state='open'] {
  animation: content-show $drawer-content-transition;
}

.#{$px}-drawer[data-state='closed'] {
  animation: content-close $drawer-content-transition;
}

// Overlay animations
.#{$px}-drawer__overlay[data-state='open'] {
  animation: overlay-show $default-overlay-transition;
}

.#{$px}-drawer__overlay[data-state='closed'] {
  animation: overlay-close $default-overlay-transition;
}

// Drawer left side
.#{$px}-drawer[data-side='left'][data-state='open'] {
  animation: content-show-left $drawer-content-transition;
}

.#{$px}-drawer[data-side='left'][data-state='closed'] {
  animation: content-close-left $drawer-content-transition;
}

.#{$px}-drawer[data-side='left'] {
  left: 0;
  right: auto;
}

// Drawer bottom sheet animations
.#{$px}-drawer--bottom[data-state='open'] {
  animation: bottom-sheet-content-show $drawer-content-transition;
}

.#{$px}-drawer--bottom[data-state='closed'] {
  animation: bottom-sheet-content-close $drawer-content-transition;
}

// Keyframes
@keyframes content-show {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes content-close {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes content-show-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes content-close-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes bottom-sheet-content-show {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bottom-sheet-content-close {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overlay-close {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
