@use '#scss/allPartials' as *;

.#{$px}-drawer-header {
  align-items: center;
  display: flex;
  padding: $margin-sm $margin-xsm;
  width: 100%;

  &__bookend {
    display: flex;
    flex: 1 1 0;
    justify-content: flex-end;
  }

  &__hr {
    border-bottom: 2px solid $light-gray;
    margin-bottom: $spacing-sm;
    width: 100%;
  }

  &__title {
    @include DistinctDisplay;

    color: $primary-black;
    font-size: $heading-size4;
    font-variation-settings: 'wght' 600;
    line-height: $body-line-height-size1;
    margin-top: 2px; // better visual align with the close icon
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .#{$px}-icon-close-x:hover {
    color: $white;
  }
}
