@use '#scss/allPartials' as *;

$icon_width: 1.75rem;
$icon_gap: 2rem;
$num_icons: 5;

.#{$px}-social {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  margin-top: $spacing-md;
  padding: 0;
  width: 100%;

  @include media($size-md) {
    margin-top: $spacing-sm;
  }

  @include media($size-lg) {
    margin-top: 0;
  }

  .#{$px}-text {
    margin-bottom: $spacing-sm;

    @include media($size-md) {
      margin-bottom: $spacing-sm;
    }
  }

  @include media($size-md) {
    align-items: flex-start;
  }

  &__button {
    @include labelText('link');

    color: $pure-black;
    padding: 0;
    text-align: left;
    text-decoration: underline;

    &.#{$px}-social__button {
      text-transform: none;
    }

    &:hover {
      background-color: unset;
      color: unset;
    }

    &:focus {
      background-color: unset;
      color: unset;
    }
  }

  &.#{$px}-social {
    ul {
      align-items: center;
      border-top: 1px solid $grey-50;
      display: flex;
      flex-direction: row;
      gap: 0 $icon_gap;
      justify-content: flex-start;
      list-style: none;
      margin: $spacing-md 0 0;
      max-width: calc($num_icons * $icon_width + ($num_icons - 1) * $icon_gap);
      padding: $spacing-sm 0 0;
      width: 100%;

      li {
        cursor: pointer;
      }
    }

    a {
      display: inline-block;
    }
  }
}
