@use '#scss/allPartials' as *;

$social_icon_height: 1.75rem;

.#{$px}-social {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  margin-top: $spacing-md;
  padding: 0;
  width: 100%;

  @include media($size-md) {
    margin-top: 0;
  }

  .#{$px}-text {
    margin-bottom: $spacing-sm;

    @include media($size-md) {
      margin-bottom: $spacing-sm;
    }
  }

  @include media($size-md) {
    align-items: flex-start;
  }

  &__button {
    @include labelText('link');

    border-radius: 0;
    color: $pure-black;
    padding: 0;
    text-align: left;
    text-decoration: underline;

    &.#{$px}-social__button {
      font-variation-settings: 'wght' 600;
      text-transform: none;
    }

    &:hover {
      background-color: unset;
      color: unset;
    }

    &:focus {
      background-color: unset;
      color: unset;
    }
  }

  &.#{$px}-social {
    ul {
      align-items: center;
      border-top: 1px solid #eae8e4;
      display: flex;
      gap: 0 1.75rem;
      justify-content: center;
      list-style: none;
      margin: $spacing-md 0 0;
      padding: $spacing-sm 0 0;
      width: 100%;

      @include media($size-md) {
        gap: 0 2rem;
        justify-content: flex-start;
        margin: $spacing-md 0 $spacing-md;
        padding: $spacing-sm 0 0;
        width: 100%;
      }

      li {
        cursor: pointer;
        height: $social_icon_height;

        svg {
          height: $social_icon_height;
          width: $social_icon_height;
        }
      }
    }

    a {
      display: inline-block;
    }
  }
}
