@import '#scss/vars';
@import '#scss/utils';

.#{$px}-header {
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid rgba(0, 0, 0, 10%);
  display: flex;
  padding: $user-management-height $spacing-md 0; // save space for the user management
  position: sticky;
  top: 0;

  @include isHeaderMobile {
    padding: 0;
    top: 0;
  }

  &__toggle-btn {
    align-items: center;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    height: $header-height;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: background-color 0.25s;
    width: 60px;
    z-index: 1;

    @include isHeaderDesktop {
      display: none;
    }

    span {
      background-color: $dark-gray;
      color: transparent;
      display: block;
      height: 2px;
      position: relative;
      transition: background-color 0.25s ease 0.5s;
      width: 1.65rem;

      &::before,
      &::after {
        background-color: $dark-gray;
        content: '';
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        top: 0;
        transition: transform 0.25s ease 0.25s;
        width: 1.65rem;
      }

      &::before {
        transform: translateY(-8px);
      }

      &::after {
        transform: translateY(8px);
      }
    }

    &.#{$px}-header__toggle-btn--open span {
      background: transparent;
      transition: background-color 0.25s ease 0.1s;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      background-color: $off-white;
    }
  }

  &__logo {
    margin: auto;

    @include isHeaderDesktop {
      margin: unset;
    }
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 50%);
    height: 0;
    inset: 0;
    opacity: 0;
    position: fixed;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    z-index: -1;

    &--active {
      display: block;
      height: 100%;
      opacity: 1;

      @include isHeaderMobile {
        display: none;
      }

      & ~ .#{$px}-header__nav {
        z-index: 1;
      }
      & ~ .#{$px}-header__toggle-btn {
        z-index: 2;
      }

      & ~ .#{$px}-search {
        .#{$px}-search__button {
          z-index: -1;
        }
      }
    }
  }

  &__nav {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(-100%);

    @include isHeaderDesktop {
      height: $header-height;
      position: relative;
      transform: unset;
      width: 100%;
    }

    &.#{$px}-header__nav--open {
      transform: translateX(0);

      @include isHeaderDesktop {
        transform: unset;
      }
    }
  }
}
