@use '#scss/allPartials' as *;

.#{$px}-header {
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 10;

  &__toggle-btn {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    height: 2.5rem;
    width: 2.5rem;

    &:hover {
      background-color: $off-white;
    }

    @include isHeaderDesktop {
      display: none;
    }

    /* This is a pseudo icon shown within the button, so we can do fancy transitions */
    span {
      background-color: $dark-gray;
      color: transparent;
      display: block;
      height: 2px;
      position: relative;
      transition-delay: background-color 0.25s ease 0.25s;
      width: 1.5rem;

      &::before,
      &::after {
        background-color: $dark-gray;
        content: '';
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        top: 0;
        transition: transform 0.25s ease;
        width: 1.5rem;
      }

      &::before {
        transform: translateY(-8px);
      }

      &::after {
        transform: translateY(8px);
      }
    }

    &.#{$px}-header__toggle-btn--open span {
      background: transparent;
      transition: background-color 0.25s ease;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &__logo {
    align-self: center;

    svg {
      height: 24px;
      width: 100%;
    }

    @include isHeaderDesktop {
      align-self: flex-end;

      svg {
        height: 28px;
        width: 100%;
      }
    }
  }

  &__top-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $padding-sm;
    width: 100%;

    /** There are actually two language selectors in the DOM, show this one in desktop */
    .#{$px}-language-selector {
      display: none;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;

    &--closed {
      display: none;
    }

    @include isHeaderDesktop {
      display: flex;
      height: unset;
      overflow-y: hidden;
      width: 100%;

      div.#{$px}-language-selector {
        display: none; // hide this one on mobile
      }
    }

    .#{$px}-nav__item {
      .#{$px}-link--snwHeaderLink {
        align-content: center;
        height: 100%;
      }
    }
  }
}
