@import '../../vars';
@import '../../_utils';
@import '../../typography';

.#{$px}-navbar {
  // align-items: center;
  background-color: $pure-white;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1rem;
  width: 100%;

  &__topbar {
    background-color: $off-white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__bottombar {
    background-color: $off-white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    @include headerText;
  }
}
