@use '#scss/allPartials' as *;

.#{$px}-seldon-image {
  overflow: hidden;
  position: relative;

  &--aspect-ratio-16-9 {
    aspect-ratio: 16 / 9;
  }

  &--aspect-ratio-1-1 {
    aspect-ratio: 1 / 1;
  }

  &--hidden {
    background-color: #eee;
  }

  &-img {
    height: 100%;
    object-fit: contain;
    width: 100%;

    &--object-fit-contain {
      object-fit: contain;
    }

    &--object-fit-cover {
      object-fit: cover;
    }

    &--object-fit-fill {
      object-fit: fill;
    }

    &--object-fit-scale-down {
      object-fit: scale-down;
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &-blur {
    background-position: center;
    background-size: cover;
    filter: blur(10px);
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
