@use '#scss/allPartials' as *;

.#{$px}-seldon-image {
  overflow: hidden;
  position: relative;

  &--aspect-ratio-16-9 img {
    aspect-ratio: 16 / 9;
  }

  &--aspect-ratio-1-1 img {
    aspect-ratio: 1 / 1;
  }

  &--error {
    width: 100%;

    .phillips-logo {
      fill: $medium-gray;
    }

    svg {
      left: 50%;
      max-width: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    h2 {
      color: $black-50;
      font-size: 3.5rem;
      left: 50%;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-img {
    height: auto;
    object-fit: contain;
    width: 100%;

    &--object-fit-contain {
      object-fit: contain;
    }

    &--object-fit-cover {
      object-fit: cover;
    }

    &--object-fit-fill {
      object-fit: fill;
    }

    &--object-fit-scale-down {
      object-fit: scale-down;
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &-blur {
    background-position: center;
    background-size: cover;
    filter: blur(10px);
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    &--hidden {
      visibility: hidden;
    }
  }
}
