/* stylelint-disable selector-class-pattern */
@use '#scss/vars' as *;
@use '#scss/typography' as *;
@import 'flatpickr/dist/flatpickr.css';

.flatpickr-calendar {
  @include DistinctText;

  .flatpickr-day,
  .flatpickr-day.selected,
  .flatpickr-day:hover,
  .flatpickr-day:focus,
  .flatpickr-day.startRange,
  .flatpickr-day.endRange {
    border-radius: 0;
  }

  .flatpickr-day.selected,
  .flatpickr-day:hover,
  .flatpickr-day:focus,
  .flatpickr-day.startRange,
  .flatpickr-day.endRange {
    background: $pure-black;
    border-color: $pure-black;
    color: $pure-white;
  }

  .flatpickr-day.today {
    border-color: transparent;
    font-weight: bold;
    position: relative;

    @include DistinctDisplay;

    &::after {
      background-color: $pure-black;
      bottom: 2px;
      content: '';
      height: 0.25rem;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 0.25rem;
    }
  }

  .flatpickr-months .flatpickr-prev-month:hover,
  .flatpickr-months .flatpickr-next-month:hover {
    background-color: $pure-black;

    svg {
      fill: $pure-white;
    }
  }

  .flatpickr-current-month,
  .flatpickr-monthDropdown-months,
  .flatpickr-current-month input.cur-year {
    @include DistinctDisplay;

    font-size: 1rem;
    text-transform: uppercase;
  }

  .flatpickr-weekday {
    @include DistinctDisplay;

    font-weight: bold;
  }

  .flatpickr-current-month {
    padding: 0.65rem 0 0;
  }

  .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
  .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
  .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
    box-shadow: -10px 0 0 #e6e6e6;
  }

  &.arrowTop::before,
  &.arrowTop::after {
    content: unset;
  }
}
