/* stylelint-disable selector-class-pattern */
@use '~scss/allPartials' as *;
@import 'flatpickr/dist/flatpickr.css';

.#{$px}-date-picker {
  font-size: $font-size-body-medium;
}

.flatpickr-calendar {
  .flatpickr-day,
  .flatpickr-day.selected,
  .flatpickr-day:hover,
  .flatpickr-day:focus,
  .flatpickr-day.startRange,
  .flatpickr-day.endRange {
    border-radius: $radius-xs;
  }

  .flatpickr-day.selected,
  .flatpickr-day:hover,
  .flatpickr-day:focus,
  .flatpickr-day.startRange,
  .flatpickr-day.endRange {
    background: $pure-black;
    border-color: $pure-black;
    color: $pure-white;
  }

  .flatpickr-day.today {
    border-color: transparent;
    font-variation-settings: 'wght' 700;
    position: relative;

    &::after {
      background-color: $pure-black;
      bottom: 2px;
      content: '';
      height: 0.25rem;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 0.25rem;
    }
  }

  .flatpickr-months .flatpickr-prev-month:hover,
  .flatpickr-months .flatpickr-next-month:hover {
    background-color: $pure-black;

    svg {
      fill: $pure-white;
    }
  }

  .flatpickr-current-month,
  .flatpickr-monthDropdown-months,
  .flatpickr-current-month input.cur-year {
    text-transform: uppercase;
  }

  .flatpickr-weekday {
    font-variation-settings: 'wght' 700;
  }

  .flatpickr-current-month.flatpickr-current-month {
    @include text($labelLarge);

    padding: 0.65rem 0 0;

    .cur-year {
      @include text($labelLarge);
    }
  }

  .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
  .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
  .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
    box-shadow: -10px 0 0 $grey-50;
  }

  &.arrowTop::before,
  &.arrowTop::after {
    content: unset;
  }
}
