@use '#scss/allPartials' as *;

.#{$px}-add-to-calendar {
  svg {
    height: 30px;
    width: 30px;
  }

  &-icon-button {
    background: none;
    border: none;
    cursor: pointer;

    &:focus-visible {
      border-radius: 5px;
      outline: 1px solid $medium-gray;
    }
  }

  &-atcb-list {
    background: #fff;
    border: 1px solid#ECEAE7;
    padding: $spacing-sm;
  }

  &-atcb-item {
    margin-bottom: $spacing-xsm;
  }

  &-atcb-item-link {
    @include text($body-size2);

    background: none;
    border: none;
    cursor: pointer;
    font-variation-settings: 'wght' 400;
    outline: none;
    padding: 0;
    text-decoration: none;

    p {
      margin-bottom: 0;
    }

    &:hover {
      color: #000;
      text-decoration: none;
    }

    &:focus-visible {
      color: #000;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: $spacing-micro;
    }

    span {
      @include text($body-size2);

      font-variation-settings: 'wght' 400;
      text-decoration: none;
    }
  }
}
