@use '#scss/allPartials' as *;

.#{$px}-add-to-calendar {
  svg {
    height: 30px;
    width: 30px;
  }
  .#{$px}-icon-button {
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      background: transparent;
    }

    svg path {
      transition: fill 0.25s ease-in-out;
    }

    svg:hover path {
      fill: $button-hover;
    }

    &:focus-visible {
      @include focus-ring(2px, $focus-default, $radius-xs);
    }
  }

  &-atcb-list {
    background: $white-100;
    border: 1px solid $grey-50;
  }

  &-atcb-item {
    padding: $spacing-xsm $spacing-sm;

    &:hover,
    &:focus-visible {
      background-color: $light-gray;
      cursor: pointer;
      outline: none;
    }
  }

  &-atcb-item-link {
    background: none;
    border: none;
    cursor: pointer;
    font-variation-settings: 'wght' 400;
    outline: none;
    padding: 0;
    text-decoration: none;

    p {
      margin-bottom: 0;
    }

    &:hover {
      border: none;
      outline: none;
      text-decoration: none;
    }

    span {
      font-variation-settings: 'wght' 400;
      text-decoration: none;

      &:hover,
      &:focus-visible {
        color: $black-100;
        outline: none;
        text-decoration: none;
      }
    }
  }
}
