@use '#scss/allPartials' as *;

.#{$px}-carousel {
  position: relative;

  &-content {
    overflow: hidden;
  }

  &-content-inner {
    display: flex;

    // margin-left: -1rem; // Equivalent to -ml-4

    @each $spacing-size in $spacing-sizes {
      &--gap-#{$spacing-size} {
        margin-left: calc(-1 * var(--spacing-#{$spacing-size}));
      }
    }
  }

  &-item {
    flex: 0 0 100%;
    min-width: 0;

    @each $spacing-size in $spacing-sizes {
      &--gap-#{$spacing-size} {
        padding-left: var(--spacing-#{$spacing-size});
      }
    }

    // &:not(:first-child) {
    //     padding-left: 1rem; // Equivalent to pl-4
    // }
  }

  &-pagination {
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 1rem;

    button {
      background: none;
      border: none;
      cursor: pointer;
    }

    &-on-content {
      bottom: 16px;
      left: 50%;
      overflow: hidden;
      position: absolute;
      transform: translateX(-50%);
    }

    &-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &-container-inner {
      display: flex;
      gap: 12px;
    }

    &-dot-container {
      align-items: center;
      display: flex;
      height: 8px;
      justify-content: center;
      padding: 0;
      width: 8px;
    }

    &-dot {
      border: 1px solid #adadad;
      border-radius: 50%;
      height: 100%;
      width: 100%;

      &-selected {
        background-color: #525050;
        border-color: #525050;
      }
    }
  }
}
