@use '~scss/sharedClasses' as *;
@use '~scss/type' as *;
@use '~scss/utils' as *;
@use '~scss/vars' as *;

.story-wrapper {
  display: flex;
  gap: 1rem;
}

.icon-usage,
.picto-usage {
  margin-top: 48px;
}

.icon-example,
.picto-example {
  align-items: center;
  border-bottom: 1px solid $pure-black;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: 24px;
  margin-bottom: 2rem;

  &:last-child {
    border-bottom: none;
  }

  .#{$px}-icon {
    align-self: center;
    padding: 1rem;
  }

  .icons-container,
  .icons-container--dark,
  .picto-container,
  .picto-container--dark {
    border-radius: $radius-md;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .icons-container--dark,
  .picto-container--dark {
    background-color: $pure-black;
  }
}

.icon-grid-wrapper,
.picto-grid-wrapper {
  border: 1px solid $pure-black;
  border-radius: $radius-xs;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 24px;
  padding: 24px;
  width: fit-content;

  @include media($breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media($breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  &--dark {
    background-color: $pure-black;
  }

  &--controls {
    display: flex;
    gap: 1rem;
  }

  .icon-set,
  .picto-set {
    display: flex;
    flex-direction: column;
    margin: 24px 12px;
  }

  .icon-name,
  .picto-name {
    padding: 8px;
    text-align: center;

    @include text($bodySmall);

    &--small {
      @include text($bodySmall);
    }

    &--dark {
      color: $white-100;
    }
  }

  .icon-wrapper,
  .picto-wrapper {
    &.show-border {
      border: 1px solid black;
    }

    margin: 0 auto;
  }
}
