@use '#scss/allPartials' as *;

.#{$px}-phone-number-input {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: $spacing-xsm;
    width: 100%;
  }

  &__error {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: $spacing-md;

    &-msg {
      animation: reveal 0.45s linear forwards;

      // Reveal animation (match Input)
      max-height: 2em;
      opacity: 1;
      overflow: hidden;
      transition: opacity 0.2s;
      visibility: visible;
      will-change: opacity, max-height;
    }
  }

  // Hide the validation from the Input component
  .seldon-input__validation {
    display: none;
  }

  &__country-picker {
    flex: 0 0 25%;
    margin-right: $spacing-xsm;
    min-width: 150px; // just big enough for flag and 3 digit code
  }

  &__input {
    flex: 1 1 75%;
    flex-grow: 1;
    margin-top: calc(var(--string-line-height-size2) + 0.5rem);
  }

  @media screen and (min-width: $breakpoint-xl) {
    &__wrapper {
      align-items: center;
    }

    &__country-picker {
      flex: 0 0 40%;
      min-width: 0;
    }

    &__input {
      flex: 1 1 60%;
      margin-top: calc(var(--string-line-height-size2) + 1rem);
      min-width: 0;
    }
  }
}
