@use '#scss/allPartials' as *;

.#{$px}-phone-number-input {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  &__wrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: $spacing-xsm;
    width: 100%;
  }

  &__country-picker {
    flex: 0 0 25%;
    margin-right: $spacing-xsm;
    min-width: 150px; // just big enough for flag and 3 digit code
  }

  &__input {
    flex: 1 1 75%;
    flex-grow: 1;

    &-phone {
      margin-bottom: 0;
    }

    // Hide input validation inside phone number input, we use a shared one
    .#{$px}-input__validation {
      display: none;
    }

    .#{$px}-input__empty-validation {
      display: none;
    }
  }

  @media screen and (min-width: $breakpoint-xl) {
    &__wrapper {
      align-items: center;
    }

    &__country-picker {
      flex: 0 0 40%;
      min-width: 0;
    }

    &__input {
      flex: 1 1 60%;
      min-width: 0;
    }
  }
}

.#{$px}-input__validation {
  animation: reveal 0.45s linear forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
