@use '~scss/allPartials' as *;

.#{$px}-text-banner {
  &__header-text {
    // To center the header on the description
    align-items: center;
    display: flex;
    text-transform: none;
  }

  &__content-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: none;
    padding: $spacing-lg 0;

    h1 {
      white-space: nowrap;
    }

    h1,
    p,
    span {
      color: $pure-black;
      margin: 0;
      max-width: 100%;
      min-height: 48px;
      text-align: left;
      text-transform: none;
    }

    @include media($breakpoint-md) {
      flex-direction: row;

      h1,
      p,
      span {
        max-width: 50%;
        width: 50%;
      }
    }
  }
}
