@use '#scss/allPartials' as *;

.#{$px}-text-banner {
  &__content-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    max-width: none;
    padding: 32px 24px;

    h1 {
      white-space: nowrap;
    }

    h1,
    p,
    span {
      color: $pure-black;
      margin: 0;
      max-width: 100%;
      min-height: 48px;
      text-align: left;
    }

    @include media($breakpoint-md) {
      align-items: center;
      flex-direction: row;

      h1,
      p,
      span {
        max-width: 50%;
        width: 50%;
      }
    }
  }
}
