@use '#scss/main' as *;

.#{$px}-link-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-xsm;
  text-align: center;

  &__description {
    @include text($body2);
  }
}
