@use '~scss/allPartials' as *;

.#{$px}-link-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-micro;
  text-align: center;

  &__link .#{$px}-text {
    font-variation-settings: 'wght' 400;
  }

  &__description.#{$px}-text {
    margin-bottom: 0;
  }
}
