@use '#scss/allPartials' as *;

.#{$px}-search {
  align-content: center;
  display: flex;
  gap: $spacing-md;
  height: $header-height;
  justify-content: flex-end;
  position: relative;

  &--active {
    flex-basis: 50%;
    transform: translateY(-100%);
  }

  &__input-status-icon {
    border-bottom: 1px solid $pure-black;
    height: $header-height;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .#{$px}-text--heading3 {
    display: none;

    @include isHeaderMobile {
      align-self: flex-start;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }
  }

  &__form {
    display: flex;
    flex-grow: 1;
    overflow: hidden;

    &--active {
      overflow: visible;

      .#{$px}-search__results {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__content-wrapper {
    background: $white;
    color: $soft-black;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .#{$px}-input {
      position: relative;
      transition: width 0.5s ease-in;
      width: 0;

      &-enter,
      &-enter-active {
        width: 100%;
        z-index: 0;
      }

      &__validation {
        display: none;
      }

      &__input {
        background: $white;
        border: 0;
        border-bottom: 1px solid $pure-black;
        border-radius: unset;
        color: $pure-black;
        font-family: DistinctDisplay, sans-serif;

        // Tokenize later
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        height: $header-height;
        line-height: 1.5rem;
        margin: 0;
        padding: $spacing-sm 0 $spacing-sm $spacing-sm;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
