@use '#scss/allPartials' as *;

.#{$px}-search {
  display: flex;
  gap: $spacing-md;
  height: $search-size;
  left: calc(100% - $search-size);
  min-width: $search-size;
  position: absolute;
  right: 0;
  top: $padding-md;
  transition: left 0.25s ease-in;

  &::after {
    border-bottom: 1px solid $black-100;
    bottom: 0;
    content: '';
    display: flex;
    margin-bottom: -1px;
    position: absolute;
    right: 0;
    transition: width 0.25s ease-in;
    width: 0;
  }

  @include isHeaderMobile {
    height: calc($search-size - 1px);
    left: calc(100% - $search-size - $spacing-md);
    right: $spacing-md;
  }

  @include media($breakpoint-md) {
    top: 2px;
  }

  @include media($breakpoint-xl) {
    top: -4px;
  }

  &--active {
    left: 0;
    transition: left 0.25s ease-in 0.2s;

    &::after {
      transition: width 0.25s ease-in 0.2s;
      width: 100%;
    }
  }

  &__input-status-icon {
    height: $search-size;
    width: $search-size;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__form {
    display: flex;
    overflow: hidden;
    width: 100%;

    &--active {
      overflow: visible;

      .#{$px}-search__results {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__content-wrapper {
    color: $soft-black;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .#{$px}-input {
      width: 100%;

      &__validation {
        display: none;
      }

      &-enter-active input {
        background: $white-100;

        &::placeholder {
          opacity: 1;
          transition: opacity 0.75s ease-in;
        }
      }

      &__input {
        background: transparent;
        border: 0;
        border-radius: unset;
        font-variation-settings: 'wght' 600;
        height: $search-size;
        margin: 0;
        padding: $spacing-xsm 0 $spacing-xsm $spacing-sm;

        @include text($bodyLarge);

        @include isHeaderMobile {
          height: calc(var(--spacing-md) + var(--search-size));
          line-height: calc(var(--spacing-md) + var(--search-size));
          padding: $spacing-md 0;
          position: relative;
          top: calc($spacing-md * -1);
        }

        @include media($size-xl) {
          height: 2.875rem;
        }

        &:focus {
          outline: none;
        }

        &::placeholder {
          opacity: 0;
        }
      }
    }
  }
}

.#{$px}-search__container {
  @include isHeaderMobile {
    border-bottom: 1px solid $light-gray;
    margin-right: $spacing-md;
    padding-left: $spacing-md;
    position: relative;
    width: 100%;
  }

  &__inner {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0;
    pointer-events: all;

    @include isHeaderDesktop {
      cursor: default;
    }

    @include isHeaderMobile {
      align-items: center;
      height: calc(var(--spacing-md) + var(--search-size));
      position: relative;
    }

    .#{$px}-text {
      margin-bottom: 0;
      padding-left: 0;
    }

    &__label {
      display: none;

      @include isHeaderMobile {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        height: $search-size;
        margin: 0;
        padding: 0 $spacing-sm;
        pointer-events: all;
      }
    }
  }
}
