@use '#scss/allPartials' as *;

.#{$px}-search__results {
  align-items: flex-start;
  background: $white;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  opacity: 0; /* Initially hidden */
  overflow: hidden;
  padding: $spacing-sm;
  position: absolute;
  top: $search-size;
  transition:
    opacity 0.5s ease,
    max-height 0.5s ease;
  width: 100%;

  @include isHeaderMobile {
    padding: $spacing-sm 0;
  }

  &-container {
    background: $white;
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    gap: $spacing-sm;
    width: 100%;

    strong {
      font-variation-settings: 'wght' 700;
      /* stylelint-disable-next-line declaration-property-value-disallowed-list */
      font-weight: unset;
    }
  }
}
.#{$px}-search__results.visible {
  opacity: 1;
}

.#{$px}-search {
  &__result {
    display: flex;

    &__label {
      text-transform: initial;
    }
  }
}
