@use '#scss/allPartials' as *;

.#{$px}-search__results {
  align-items: flex-start;
  background: $white;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: $spacing-sm;
  position: absolute;
  top: $search-size;
  width: 100%;

  &-container {
    background: $white;
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    gap: $spacing-sm;
    width: 100%;
  }
}

.#{$px}-search {
  &__result {
    display: flex;
  }
}
