@use '#scss/allPartials' as *;

.#{$px}-detail-list {
  display: flex;
  flex-direction: column;
  gap: var($spacing-sm, 12px);
  width: 100%;

  &.columns {
    align-items: flex-start;
  }

  &.justified {
    justify-content: flex-start;
  }

  &-wrapper {
    width: 100%;

    .#{$px}-detail {
      padding: 0;
    }
  }

  &-wrapper.has-separators {
    border-top: 1px solid $light-gray;

    &:last-child {
      border-bottom: 1px solid $light-gray;
    }

    .#{$px}-detail {
      padding: $spacing-sm 0;
    }
  }

  &-wrapper.columns {
    .#{px}-detail {
      justify-content: start;
    }
  }

  &-wrapper.justified {
    .#{$px}-detail {
      justify-content: space-between;
    }
  }
}
