@use '~scss/allPartials' as *;

.#{$px}-descriptive-radio-button {
  &__container {
    align-items: flex-start;
    background: $white-100;
    border: 1px solid $light-gray;
    border-radius: $radius-xs;
    cursor: pointer;
    display: flex;
    padding: $spacing-sm;

    &--selected {
      border: 1.5px solid $pure-black;
    }

    &:has(input:focus-visible) {
      @include focus-ring($border-radius: $radius-xs);
    }
  }

  &__input {
    accent-color: $light-gray;
    cursor: pointer;
    height: 1rem;
    margin-right: $spacing-sm;
    margin-top: 2px;
    width: 1rem;

    @media (min-width: $breakpoint-md) {
      margin-top: $spacing-micro;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  &__input:checked {
    accent-color: $pure-black;
  }

  &__label-content {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: $spacing-sm;
    pointer-events: none;
  }

  &__label-text {
    font-variation-settings: 'wght' 600;
  }

  &__description {
    display: block;
  }
}
