// 🌎 Globals

// @TODO: reset styles when we can do a site wide regressions QA in phillips-public
// @use 'reset';

@use '#scss/typography' as *;
@use '#scss/vars' as *;

// ⚛️ Components
@use 'components/Button/button';
@use 'components/IconButton/iconButton';
@use 'components/Icon/icon';
@use 'components/Grid/grid';
@use 'components/Navigation/navigation';
@use 'components/Navigation/NavigationItem/navigationItem';
@use 'components/Navigation/NavigationItemTrigger/navigationItemTrigger';
@use 'components/Navigation/NavigationList/navigationList';
@use 'components/Input/input';
@use 'components/Row/row';
@use 'components/GridItem/gridItem';
@use 'components/Search/search';
@use 'components/Search/searchButton';
@use 'components/Search/SearchResults/searchResults';
@use 'components/SplitPanel/splitPanel';
@use 'components/Toggle/toggle';
@use 'components/Link/link';
@use 'components/LinkBlock/linkBlock';
@use 'components/Loader/loader';
@use 'components/LinkList/linkList';
@use 'components/Text/text';
@use 'components/TextSymbol/textSymbol';
@use 'components/Modal/modal';
@use 'components/Accordion/accordion';
@use 'components/Breadcrumb/breadcrumb';
@use 'components/Drawer/drawer';
@use 'components/Drawer/drawerHeader';
@use 'components/Dropdown/dropdown';
@use 'components/Video/video';
@use 'components/Select/select';
@use 'components/Pagination/pagination';
@use 'components/ContentPeek/contentPeek';
@use 'components/PageContentWrapper/pageContentWrapper';
@use 'components/Carousel/carousel';
@use 'components/ComboBox/combobox';
@use 'components/Tags/tags';
@use 'components/Countdown/countdown';
@use 'components/Countdown/duration';
@use 'components/Detail/detail';
@use 'components/PinchZoom/pinchZoom';
@use 'components/Tabs/tabs';
@use 'components/SeldonImage/seldonImage';
@use 'components/Filter/filter';
@use 'components/FavoritingTileButton/favoritingTileButton';
@use 'components/Toast/toast';
@use 'components/ExitGateCard/exitGateCard';
@use 'components/ComposedModal/composedModal';
@use 'patterns/CountryPicker/countryPickerOption';
@use 'patterns/CountryPicker/countryPickerModal';
@use 'patterns/CountryPicker/countryPickerTrigger';
@use 'components/ProgressIndicator/progressIndicator';
@use 'components/DescriptiveRadioButton/descriptiveRadioButton';
@use 'components/DescriptiveRadioButtonGroup/descriptiveRadioButtonGroup';

// Patterns
@use 'patterns/HeroBanner/heroBanner';
@use 'patterns/LanguageSelector/languageSelector';
@use 'patterns/UserManagement/userManagement';
@use 'patterns/ViewingsList/viewingsList';
@use 'patterns/ViewingDetails/viewingDetails';
@use 'patterns/Subscribe/subscribe';
@use 'patterns/Social/social';
@use 'patterns/SaleHeaderBanner/saleHeaderBanner';
@use 'patterns/ObjectTile/objectTile';
@use 'patterns/BidSnapshot/bidSnapshot';
@use 'patterns/FilterMenu/filterMenu';
@use 'patterns/DetailList/detailList';
@use 'patterns/AccountPageHeader/accountPageHeader';
@use 'patterns/FavoritesCollectionTile/favoritesCollectionTile';
@use 'patterns/SaleCard/saleCard';
@use 'patterns/SaleCard/saleCardActions';
@use 'patterns/FiltersInline/filtersInline';
@use 'patterns/FiltersInline/filterButton';
@use 'patterns/FiltersInline/filterDropdownMenu';
@use 'patterns/ProgressWizard/progressWizard';

// Site Furniture
@use 'site-furniture/Header/header';
@use 'site-furniture/Footer/footer';
@use 'components/Article/article';
@use 'components/Divider/divider';
@use 'components/TextArea/textArea';
@use 'components/AddToCalendar/addToCalendar';
@use 'components/NotificationBanner/notificationBanner';
@use 'patterns/TextBanner/textBanner';
@use 'patterns/PhoneNumberInput/phoneNumberInput';

:root {
  --desktop-max-width: 120rem;
  --quote-size: 1.5rem;
  --quote-line-height: 2rem;
  --heading-size1: 1.5rem;
  --heading-line-height-size1: 1.75rem;
  --heading-size2: 1.5rem;
  --heading-line-height-size2: 1.75rem;
  --heading-size3: 1.25rem;
  --heading-line-height-size3: 1.5rem;
  --heading-size4: 1rem;
  --heading-line-height-size4: 1.25rem;
  --heading-size5: 0.75rem;
  --heading-line-height-size5: 1rem;
  --string-size1: 1rem;
  --string-line-height-size1: 1.25rem;
  --string-size2: 0.75rem;
  --string-line-height-size2: 1rem;
  --string-size3: 0.5rem;
  --string-line-height-size3: 0.75rem;
  --body-size1: 1rem;
  --body-line-height-size1: 1.5rem;
  --body-size2: 0.75rem;
  --body-line-height-size2: 1.25rem;
  --body-size3: 0.5rem;
  --body-line-height-size3: 1rem;
  --label-size1: 1rem;
  --label-size2: 0.75rem;
  --label-size3: 0.56rem;
  --label-size4: 0.56rem;
  --link-label-size: 0.75rem;
  --link-label-line-height: 0.75rem;
  --button-label-size: 0.75rem;
  --button-label-line-height: 1rem;
  --button-tertiary-height: 1.75rem;
  --badge-label-size: 0.5rem;
  --badge-label-line-height: 0.67rem;
  --snw-header-link-size: 1rem;
  --snw-header-link-line-height: 1.5rem;
  --snw-flyout-link-size: 1rem;
  --snw-flyout-link-line-height: 1.75rem;
  --snw-heading-hero-size1: 2rem;
  --snw-heading-hero-line-height-size1: 2.375rem;
  --snw-heading-hero-size2: 1.625rem;
  --snw-heading-hero-line-height-size2: 1.9375rem;
  --snw-note-size: 0.75rem;
  --snw-note-line-height: 1rem;
  --snw-button-padding: 0.5rem;
  --spacing-micro: 0.25rem;
  --spacing-xsm: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1.75rem;
  --spacing-lg: 2.75rem;
  --spacing-xl: 3.75rem;
  --spacing-xxl: 4.75rem;
  --spacing-xxxl: 5.75rem;
  --header-height: 56px; // ideally we would calculate the size from the current text size plus spacing components so that it scales with the text size and spacing
  --search-size: 2.32rem; // This should be calculated from the scaling text and scaling spacing tokens instead of hardcoding in case they change
  --banner-height: 0px;

  // FONT SIZES

  @include font-size-vars--sm;

  @media (min-width: $breakpoint-md) {
    @include font-size-vars--md;

    --quote-size: 1.75rem;
    --quote-line-height: 2.25rem;
    --heading-size1: 1.75rem;
    --heading-line-height-size1: 2rem;
    --heading-size2: 1.75rem;
    --heading-line-height-size2: 2rem;
    --heading-size3: 1.5rem;
    --heading-line-height-size3: 1.75rem;
    --heading-size4: 1.25rem;
    --heading-line-height-size4: 1.5rem;
    --heading-size5: 1rem;
    --heading-line-height-size5: 1.25rem;
    --string-size1: 1.25rem;
    --string-line-height-size1: 1.5rem;
    --string-size2: 1rem;
    --string-line-height-size2: 1.25rem;
    --string-size3: 0.75rem;
    --string-line-height-size3: 1rem;
    --body-size1: 1.25rem;
    --body-line-height-size1: 1.75rem;
    --body-size2: 1rem;
    --body-line-height-size2: 1.5rem;
    --body-size3: 0.75rem;
    --body-line-height-size3: 1.25rem;
    --label-size1: 1.25rem;
    --label-size2: 1rem;
    --label-size3: 0.75rem;
    --label-size4: 0.75rem;
    --link-label-size: 1rem;
    --link-label-line-height: 1rem;
    --button-label-size: 1rem;
    --button-label-line-height: 1.25rem;
    --badge-label-size: 0.75rem;
    --badge-label-line-height: 1rem;
    --snw-header-link-size: 1rem;
    --snw-header-link-line-height: 1.5rem;
    --snw-flyout-link-size: 0.875rem;
    --snw-flyout-link-line-height: 1.75rem;
    --snw-heading-hero-size1: 2.375rem;
    --snw-heading-hero-line-height-size1: 2.875rem;
    --snw-button-padding: 0.5rem;
    --spacing-micro: 0.25rem;
    --spacing-xsm: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
    --spacing-xl: 4rem;
    --spacing-xxl: 5rem;
    --spacing-xxxl: 6rem;
    --header-height: 124px; // ideally we would calculate the size from the current text size plus spacing components so that it scales with the text size and spacing
  }

  @media (min-width: $breakpoint-lg) {
    --snw-flyout-link-size: 0.875rem;
    --snw-flyout-link-line-height: 1.75rem;
  }

  @media (min-width: $breakpoint-xl) {
    --quote-size: 2rem;
    --quote-line-height: 2.5rem;
    --heading-size1: 2rem;
    --heading-line-height-size1: 2.25rem;
    --heading-size2: 2rem;
    --heading-line-height-size2: 2.25rem;
    --heading-size3: 1.75rem;
    --heading-line-height-size3: 2rem;
    --heading-size4: 1.5rem;
    --heading-line-height-size4: 1.75rem;
    --heading-size5: 1.25rem;
    --heading-line-height-size5: 1.5rem;
    --string-size1: 1.5rem;
    --string-line-height-size1: 1.75rem;
    --string-size2: 1.25rem;
    --string-line-height-size2: 1.5rem;
    --string-size3: 1rem;
    --string-line-height-size3: 1.25rem;
    --body-size1: 1.5rem;
    --body-line-height-size1: 2rem;
    --body-size2: 1.25rem;
    --body-line-height-size2: 1.75rem;
    --body-size3: 1rem;
    --body-line-height-size3: 1.5rem;
    --label-size1: 1.56rem;
    --label-size2: 1.25rem;
    --label-size3: 1rem;
    --link-label-size: 1.25rem;
    --link-label-line-height: 1.25rem;
    --button-label-size: 1.25rem;
    --button-label-line-height: 1.5rem;
    --badge-label-size: 1rem;
    --badge-label-line-height: 1.5rem;
    --snw-header-link-size: 1.125rem;
    --snw-header-link-line-height: 1.75rem;
    --snw-flyout-link-size: 1.125rem;
    --snw-flyout-link-line-height: 2.125rem;
    --snw-button-padding: 0.5rem;
    --spacing-micro: 0.5rem;
    --spacing-xsm: 0.75rem;
    --spacing-sm: 1.25rem;
    --spacing-md: 2.25rem;
    --spacing-lg: 3.25rem;
    --spacing-xl: 4.25rem;
    --spacing-xxl: 5.25rem;
    --spacing-xxxl: 6.25rem;
    --header-height: 133px; // ideally we would calculate the size from the current text size plus spacing components so that it scales with the text size and spacing
    --search-size: 2.875rem; // This should be calculated from the scaling text and scaling spacing tokens instead of hardcoding in case they change

    // FONT SIZES
    @include font-size-vars--lg;
  }
}
