@use 'scss/vars';
@use 'scss/reset';
@use 'scss/typography';
@use 'design/colors-tokens/color-card';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,400&display=swap');

body {
  font-family:
    'Montserrat',
    SeroWebPro,
    'Helvetica Neue',
    Helvetica,
    -apple-system,
    '.SFNSText-Regular',
    'San Francisco',
    BlinkMacSystemFont,
    'Segoe UI',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
}


[title="Easel by Phillips"] {
  width: 150px;
}

#storybook-root > .phillips-header__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;

  @media (min-width: 1021px) {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  // &::before {
  //   background: rgba(50,50,50,0.6);
  //   content: '';
  //   height: 100vh;
  //   left: 0;
  //   position: fixed;
  //   top: 0;
  //   width: 100%;
  //   z-index: -1;
  //   // @media (min-width: 1021px) {
  //   //   display: none;
  //   // }
  // }
}
.phillips-nav__list-item {
  list-style: none;
}

.sb-story {
  .phillips-nav__list ul {
    display: none;
  }
}