@use 'scss/vars';
@use 'scss/reset';
@use 'scss/typography';
@use 'design/colors-tokens/color-card';

body {
  font-family: 'DistinctText';
}

[title="Easel by Phillips"] {
  width: 150px;
}

#storybook-root > .phillips-header__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;

  @media (min-width: 1021px) {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  // &::before {
  //   background: rgba(50,50,50,0.6);
  //   content: '';
  //   height: 100vh;
  //   left: 0;
  //   position: fixed;
  //   top: 0;
  //   width: 100%;
  //   z-index: -1;
  //   // @media (min-width: 1021px) {
  //   //   display: none;
  //   // }
  // }
}
.phillips-nav__list-item {
  list-style: none;
}