@use 'scss/reset' as *;
@use 'scss/allPartials' as *;
@use 'design/colors-tokens/color-card';
@use 'design/type-tokens/text-showcase';
@use 'design/spacing-tokens/spacing-tokens';
@use 'design/grid-tokens/grid-tokens';
@use 'design/icons/icons';
@use 'components/DatePicker/datePicker';
@use 'components/SplitPanel/splitPanel.stories';
@use 'components/Modal/modal.stories';
@use 'components/Icon/icon.stories';

// 📑 Pages
@import 'pages/page';

strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 700;
  /* stylelint-disable-next-line declaration-property-value-disallowed-list */
  font-weight: unset;
}

// Design markdown styles
.h1 {
  @include hText($heading-size1, null, uppercase);

  display: flex;
  margin-bottom: 1.5rem;

  & img {
    margin-left: 1rem;
    transform: translateY(-0.25rem);
  }
}

.h2 {
  @include hText($heading-size2);

  color: $clock-widget-blue;
  display: block;
  margin-bottom: 1rem;
}

.h3 {
  @include hText($heading-size3);

  display: block;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.h4 {
  @include pText($body-size2);

  color: $clock-widget-green;
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.p {
  @include pText($body-size2);

  display: block;
  margin-bottom: 1.5rem;
}

details {
  margin: 1rem 0;
  padding-inline-start: 1.75rem;

  summary {
    color: $keyline-gray;

    @include labelText($label);
  }
}

.tip {
  background: #e7fdd8;
  border-radius: 1em;
  color: #66bf3c;
  display: inline-block;
  font-size: 11px;
  font-variation-settings: 'wght' 700;
  line-height: 12px;
  margin-right: 10px;
  padding: 4px 12px;
  vertical-align: top;
}

.tip-wrapper {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.tip-wrapper code {
  display: inline-block;
  font-size: 12px;
}

.#{$px}-object-tile__lot-number-like svg {
  cursor: pointer;
  height: 1rem;
  width: 1rem;

  @media (min-width: $breakpoint-md) {
    height: 1.5rem;
    width: 1.5rem;
  }

  path.favorite-active__inner {
    fill: transparent;

    &:hover {
      fill: $pure-black;
    }
  }
}
