@use '#scss/allPartials' as *;

.#{$px}-icon-button {
  align-items: center;
  display: flex;
  height: $spacing-md;
  justify-content: center;
  padding: 0;
  width: $spacing-md;

  & svg {
    height: $button-label-line-height;
    width: $button-label-line-height;

    @include hoverOrActive {
      color: $white-100;
    }
  }

  &:focus-visible {
    &:focus-visible {
      outline: 0.5px solid $soft-black;
      outline-offset: 0;

      svg {
        fill: $pure-white;
      }
    }
  }

  &--primary,
  &--ghost {
    background: $pure-white;
    color: $pure-black;

    & svg {
      color: $pure-black;
      height: calc($button-label-line-height * 1.5); // design-cheats-for-button-large
      margin-inline-end: unset;
      width: calc($button-label-line-height * 1.5); // design-cheats-for-button-large

      path {
        fill: $pure-black;
      }
    }

    @include hoverOrActive {
      svg {
        color: $pure-white;

        path {
          fill: $pure-white;
        }
      }
    }
  }

  &--ghost {
    border-color: transparent;

    svg {
      color: $keyline-gray;

      path {
        color: $keyline-gray;
      }
    }
  }

  &--secondary {
    height: $spacing-lg;
    width: $spacing-lg;
  }

  &--secondary,
  &--tertiary.#{$px}-icon-button {
    &:focus-visible {
      border-radius: $radius-3xl;
    }

    & > svg {
      fill: $pure-black;
      margin-inline-end: unset;
      position: absolute;

      path {
        fill: $pure-black;
      }
    }
  }

  &--tertiary {
    &:focus-visible {
      border-radius: $radius-3xl;
    }

    @include hoverOrActive {
      & svg {
        color: $cta-hover;
        fill: $cta-hover;
        margin-inline-end: unset;

        path {
          fill: $cta-hover;
        }
      }
    }
  }

  &:disabled {
    background-color: $white-100;
    border: 1px solid $light-gray;

    svg {
      fill: $light-gray;

      path {
        fill: $light-gray;
      }
    }
  }
}
