@import './vars';

html,
body {
  font-family:
    Montserrat,
    -apple-system,
    BlinkMacSystemFont,
    'avenir next',
    avenir,
    'segoe ui',
    'helvetica neue',
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0%);
}

/** Fonts **/
@font-face {
  font-family: DistinctDisplay;
  src: url('../fonts/Distinct-Display.woff') format('woff');
  src: url('../fonts/Distinct-Display.woff2') format('woff2');
}

@mixin DistinctDisplay {
  font-family: DistinctDisplay, sans-serif;
}

@font-face {
  font-family: DistinctDisplay;
  font-style: italic;
  src: url('../fonts/Distinct-DisplayItalic.woff') format('woff');
  src: url('../fonts/Distinct-DisplayItalic.woff2') format('woff2');
}

@mixin DistinctDisplayItalic {
  font-family: DistinctDisplay, sans-serif;
  font-style: italic;
}

/** Fonts **/
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat.woff') format('woff');
  src: url('../fonts/Montserrat.woff2') format('woff2');
}

@mixin Montserrat {
  font-family: Montserrat, sans-serif;
}

@font-face {
  font-family: MontserratItalic;
  font-style: italic;
  src: url('../fonts/Montserrat-Italic.woff') format('woff');
  src: url('../fonts/Montserrat-Italic.woff2') format('woff2');
}

@mixin MontserratItalic {
  font-family: MontserratItalic, sans-serif;
  font-style: italic;
}

@font-face {
  font-family: Distinct;
  src: url('../fonts/Distinct-Text.woff') format('woff');
  src: url('../fonts/Distinct-Text.woff2') format('woff2');
}

@mixin DistinctText {
  font-family: Distinct, sans-serif;
}

@font-face {
  font-family: Distinct;
  font-style: italic;
  src: url('../fonts/Distinct-Italic.woff') format('woff');
  src: url('../fonts/Distinct-Italic.woff2') format('woff2');
}

@mixin DistinctItalic {
  font-family: Distinct, sans-serif;
  font-style: italic;
}

@mixin headerText {
  @include DistinctDisplay;

  color: $primary-black;
  font-weight: 400;
}

@mixin bodyText {
  color: $soft-black;
}
