@use './vars' as *;

@mixin headerText {
  @include DistinctDisplay;

  color: $primary-black;
  font-variation-settings: 'wght' 400;
}

@mixin titleText {
  @include DistinctDisplay;
}

@mixin bodyText {
  color: $soft-black;
}

@mixin DistinctItalic {
  font-family: Distinct, sans-serif;
  font-style: italic;
}

@mixin DistinctDisplay {
  font-family: DistinctDisplay, sans-serif;
}

@mixin DistinctDisplayItalic {
  font-family: DistinctDisplay, sans-serif;
  font-style: italic;
}

@mixin Montserrat {
  font-family: Montserrat, sans-serif;
}

@mixin DistinctText {
  font-family: Distinct, sans-serif;
}

@mixin underline($offset: $spacing-micro, $thickness: 1px, $color: $pure-black) {
  text-decoration: underline;
  text-decoration-thickness: $thickness;
  text-underline-offset: $offset;
}

@mixin hText(
  $size: $heading-size1,
  $color: $pure-black,
  $transform-style: capitalize,
  $line-height: $heading-line-height-size1
) {
  @include DistinctDisplay;

  color: $color;
  font-size: $size;
  font-variation-settings: 'wght' 400;
  line-height: $line-height;
  text-decoration: none;
  text-transform: $transform-style;
}

@mixin pText($size: $body-size1, $color: $pure-black, $line-height: 1.5) {
  @include Montserrat;

  color: $color;
  font-size: $size;
  line-height: $line-height;
}

@mixin labelText($label) {
  @include Montserrat;

  font-variation-settings: 'wght' 600;

  @if $label == 'link' {
    font-size: $link-label-size;
    font-variation-settings: 'wght' 400;
    letter-spacing: 0;
    line-height: $link-label-line-height;
    text-transform: capitalize;
  }

  @if $label == 'button' {
    font-size: $button-label-size;
    letter-spacing: 0;
    line-height: $button-label-line-height;
    text-transform: capitalize;
  }

  @if $label == 'email' {
    font-size: $email-label-size;
    letter-spacing: 0.0625rem;
    line-height: 1.25;
    text-transform: lowercase;
  }

  @if $label == 'label' {
    font-size: $text-label-size;
    font-variation-settings: 'wght' 500;
    letter-spacing: 0.0625rem;
    line-height: 1.25;
  }

  @if $label == 'badge' {
    font-size: $badge-label-size;
    font-variation-settings: 'wght' 500;
    letter-spacing: 0;
    line-height: $badge-label-line-height;
    text-transform: uppercase;
  }
}

@mixin display-styles($font-size, $font-weight: 400, $text-transform: unset, $font-style: unset) {
  @include DistinctDisplay;

  font-size: $font-size;
  font-style: $font-style;
  font-variation-settings: 'wght' $font-weight;
  letter-spacing: 0;
  line-height: 1.2;
  text-transform: $text-transform;
}

@mixin heading-styles($font-size, $font-weight: 400, $text-transform: unset, $font-style: unset) {
  @include display-styles($font-size, $font-weight, $text-transform, $font-style);
}

@mixin body-styles($font-size, $font-weight: 400, $text-transform: unset, $font-style: unset) {
  @include Montserrat;

  font-size: $font-size;
  font-style: $font-style;
  font-variation-settings: 'wght' $font-weight;
  letter-spacing: 0;
  line-height: 1.4;
  text-transform: $text-transform;
}

@mixin label-styles($font-size: $font-size-label-small, $font-weight: 400, $text-transform: unset, $font-style: unset) {
  @include Montserrat;

  font-size: $font-size;
  font-style: $font-style;
  font-variation-settings: 'wght' $font-weight;
  letter-spacing: 0;
  line-height: 1.2;
  text-transform: $text-transform;
}

@mixin link-styles(
  $font-size,
  $font-weight: 400,
  $text-transform: unset,
  $font-style: unset,
  $text-decoration: underline
) {
  @include Montserrat;

  font-size: $font-size;
  font-style: $font-style;
  font-variation-settings: 'wght' $font-weight;
  letter-spacing: 0;
  line-height: 1.2;
  text-decoration: $text-decoration;
  text-transform: $text-transform;
}

@mixin text($token, $font-weight: 400, $text-transform: unset, $font-style: unset, $text-decoration: unset) {
  @if $token == 'blockquote' {
    @include heading-styles($font-size-heading-large, $font-weight, $text-transform, $font-style);
  }

  @if $token == 'heading1' {
    @include heading-styles($font-size-heading-large, $font-weight, $text-transform, $font-style);
  }

  @if $token == 'heading2' {
    @include heading-styles($font-size-heading-large, $font-weight, $text-transform, $font-style);
  }

  @if $token == 'heading3' {
    @include heading-styles($font-size-heading-medium, $font-weight, $text-transform, $font-style);
  }

  @if $token == 'heading4' {
    @include heading-styles($font-size-heading-small, $font-weight, $text-transform, $font-style);
  }

  @if $token == 'heading5' {
    @include body-styles($font-size-body-small, $font-weight, $text-transform, $font-style);
  }

  @if $token == 'string1' {
    @include heading-styles($font-size-heading-medium, $font-weight, $text-transform, $font-style);
  }

  @if $token == 'string2' {
    @include body-styles($font-size-body-small, $font-weight, $text-transform, $font-style);
  }

  @if $token == 'string3' {
    @include body-styles($font-size-body-small, $font-weight, $text-transform, $font-style);
  }

  @if $token == 'body1' {
    @include body-styles($font-size-body-large, $font-weight, $text-transform, $font-style);
  }

  @if $token == 'body2' {
    @include body-styles($font-size-body-medium, $font-weight, $text-transform, $font-style);
  }

  @if $token == 'body3' {
    @include body-styles($font-size-body-small, $font-weight, $text-transform, $font-style);
  }

  @if $token == 'link' {
    @include link-styles($font-size: $font-size-link-medium);
  }

  @if $token == 'button' {
    @include body-styles($font-size-body-small, $font-weight, $text-transform, $font-style);
  }

  @if $token == 'badge' {
    @include label-styles($font-size: $font-size-label-small, $font-weight: 400, $text-transform: uppercase);
  }

  @if $token == 'snwHeaderLink' {
    @include link-styles(
      $font-size: $font-size-link-stylised,
      $font-weight: 600,
      $text-transform: uppercase,
      $text-decoration: unset
    );
    @include DistinctDisplay;

    letter-spacing: 1px;
  }

  @if $token == 'snwFlyoutLink' {
    @include link-styles($font-size: $font-size-link-large, $text-decoration: unset);
  }

  @if $token == 'snwHeadingHero1' {
    @include display-styles($font-size-display-small, $font-weight, $text-transform: uppercase, $font-style: unset);

    text-align: center;
  }

  @if $token == 'snwHeadingHero2' {
    @include heading-styles($font-size-heading-large, $font-weight, uppercase, $font-style);

    text-align: center;
  }

  @if $token == 'title1' {
    @include heading-styles($font-size-heading-large, $font-weight, uppercase, $font-style);
  }

  @if $token == 'title2' {
    @include heading-styles($font-size-heading-medium, $font-weight, uppercase, $font-style);
  }

  @if $token == 'title3' {
    @include heading-styles($font-size-heading-small, $font-weight, uppercase, $font-style);
  }

  @if $token == 'title4' {
    @include body-styles($font-size-body-small, $font-weight, uppercase, $font-style);
  }

  @if $token == 'email' {
    @include labelText($email);
  }

  @if $token == 'label' {
    @include labelText($label);
  }

  @if $token == $displayMedium {
    @include display-styles($font-size-display-medium, $font-weight, $text-transform: uppercase, $font-style: unset);
  }

  @if $token == $displaySmall {
    @include display-styles($font-size-display-small, $font-weight, $text-transform: uppercase, $font-style: unset);
  }

  @if $token == $headingLarge {
    @include heading-styles($font-size-heading-large, $font-weight, $text-transform, $font-style);
  }

  @if $token == $headingMedium {
    @include heading-styles($font-size-heading-medium, $font-weight, $text-transform, $font-style);
  }

  @if $token == $headingSmall {
    @include heading-styles($font-size-heading-small, $font-weight, $text-transform, $font-style);
  }

  @if $token == $headingExtraSmall {
    @include heading-styles($font-size-heading-extra-small, $font-weight, $text-transform, $font-style);
  }

  @if $token == $bodyLarge {
    @include body-styles($font-size-body-large, $font-weight, $text-transform, $font-style);
  }

  @if $token == $bodyMedium {
    @include body-styles($font-size-body-medium, $font-weight, $text-transform, $font-style);
  }

  @if $token == $bodySmall {
    @include body-styles($font-size-body-small, $font-weight, $text-transform, $font-style);
  }

  @if $token == $labelLarge {
    @include label-styles($font-size: $font-size-label-large);
  }

  @if $token == $labelMedium {
    @include label-styles($font-size: $font-size-label-medium);
  }

  @if $token == $labelSmall {
    @include label-styles($font-size: $font-size-label-small);
  }

  @if $token == $linkStylised {
    @include link-styles($font-size: $font-size-link-stylised, $text-transform: uppercase, $text-decoration: unset);
    @include DistinctDisplay;

    letter-spacing: 1px;
  }

  @if $token == $linkLarge {
    @include link-styles($font-size-link-large);
  }

  @if $token == $linkMedium {
    @include link-styles($font-size-link-medium);
  }

  @if $token == $linkSmall {
    @include link-styles($font-size-link-small);
  }
}
