@import './vars';

// Design wants this replaced in the future with a loal version of Montserrat
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400&display=swap';

html,
body {
  font-family:
    Montserrat,
    -apple-system,
    BlinkMacSystemFont,
    'avenir next',
    avenir,
    'segoe ui',
    'helvetica neue',
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

/** Fonts **/
@font-face {
  font-family: DistinctDisplay;
  src: url('../fonts/Distinct-Display.woff') format('woff');
  src: url('../fonts/Distinct-Display.woff2') format('woff2');
}

@mixin DistinctDisplay {
  font-family: DistinctDisplay, sans-serif;
}

@font-face {
  font-family: DistinctDisplayItalic;
  font-style: italic;
  src: url('../fonts/Distinct-DisplayItalic.woff') format('woff');
  src: url('../fonts/Distinct-DisplayItalic.woff2') format('woff2');
}

@mixin DistinctDisplayItalic {
  font-family: DistinctDisplayItalic, sans-serif;
}

@font-face {
  font-family: Distinct;
  src: url('../fonts/Distinct-Text.woff') format('woff');
  src: url('../fonts/Distinct-Text.woff2') format('woff2');
}

@mixin DistinctText {
  font-family: Distinct, sans-serif;
}

@font-face {
  font-family: DistinctItalic;
  font-style: italic;
  src: url('../fonts/Distinct-Italic.woff') format('woff');
  src: url('../fonts/Distinct-Italic.woff2') format('woff2');
}

@mixin DistinctItalic {
  font-family: DistinctItalic, sans-serif;
  font-style: italic;
}

@mixin headerText {
  @include DistinctDisplay;

  color: $primary-black;
  font-weight: 400;
}

@mixin bodyText {
  color: $soft-black;
}
