@import './vars';

@mixin hidden {
  block-size: 1px;
  border: 0;
  clip-path: inset(100%);
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  visibility: inherit;
  white-space: nowrap;
}

@mixin warning-icon-before {
  border-bottom: 1.25rem solid #d6d141;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  content: '';
  height: 0;
  position: absolute;
  right: 14px;
  top: 45px;
  width: 0;
}

@mixin warning-icon-after {
  color: $pure-black;
  content: '!';
  font-family: arial, sans-serif;
  font-size: 0.85rem;
  height: 2rem;
  line-height: 1;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 50px;
  width: 2rem;
}

@mixin gridMargins {
  margin: 0 $spacing-medium;

  @media (min-width: $breakpoint3) {
    margin: 0 $spacing-large;
  }

  @media (min-width: $breakpoint4) {
    margin: 0 $spacing-xl;
  }
}

@mixin grid($columns: 2, $margins-on: true) {
  display: grid;
  gap: $spacing-medium;
  grid-template-columns: repeat($columns, 1fr);

  @if $margins-on {
    @include gridMargins;
  }
}

@mixin gridContainer($margins-on: true) {
  display: grid;
  gap: $spacing-medium;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $breakpoint2) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $breakpoint3) {
    grid-template-columns: repeat(12, 1fr);
  }

  @if $margins-on {
    @include gridMargins;
  }
}

@mixin media($breakpoint, $type: 'min') {
  @if $breakpoint == $breakpoint-sm {
    // $breakpoint2: 961px;
    @if $type == 'min' {
      @media (min-width: $breakpoint2) {
        @content;
      }
    }

    @if $type == 'max' {
      @media (max-width: $breakpoint2) {
        @content;
      }
    }
  }

  @if $breakpoint == $breakpoint-md {
    // $breakpoint3: 1401px;

    @if $type == 'min' {
      @media (min-width: $breakpoint3) {
        @content;
      }
    }

    @if type == 'max' {
      @media (max-width: $breakpoint3) {
        @content;
      }
    }
  }

  @if $breakpoint == $breakpoint-lg {
    // $breakpoint4: 1801px;
    @if type == 'min' {
      @media (min-width: $breakpoint4) {
        @content;
      }
    }

    @if type == 'max' {
      @media (max-width: $breakpoint4) {
        @content;
      }
    }
  }
}
