// prefix
$px: seldon;

@mixin font-size-vars--sm {
  --font-size-xs: 0.25rem; // 4px
  --font-size-s: 0.5rem; // 8px
  --font-size-m: 0.75rem; // 12px
  --font-size-l: 1rem; // 16px
  --font-size-xl: 1.25rem; // 20px
  --font-size-2xl: 1.5rem; // 24px
  --font-size-3xl: 2rem; // 32px
  --font-size-4xl: 2.5rem; // 40px
}

@mixin font-size-vars--md {
  @include font-size-vars--sm;
}

@mixin font-size-vars--lg {
  --font-size-xs: 0.5rem; // 8px
  --font-size-s: 0.75rem; // 12px
  --font-size-m: 1rem; // 16px
  --font-size-l: 1.25rem; // 20px
  --font-size-xl: 1.5rem; // 24px
  --font-size-2xl: 1.75rem; // 28px
  --font-size-3xl: 2.25rem; // 36px
  --font-size-4xl: 3rem; // 48px
}

$font-size-xs: var(--font-size-xs);
$font-size-s: var(--font-size-s);
$font-size-m: var(--font-size-m);
$font-size-l: var(--font-size-l);
$font-size-xl: var(--font-size-xl);
$font-size-2xl: var(--font-size-2xl);
$font-size-3xl: var(--font-size-3xl);
$font-size-4xl: var(--font-size-4xl);

////////////////////////
/// COlORS:
///////////////////////

// Primary

// White
$white-100: #fff;
$white-75: rgba(255, 255, 255, 75%);
$white-50: rgba(255, 255, 255, 50%);
$white-25: rgba(255, 255, 255, 25%);

// Black
$black-100: #000;
$black-75: rgba(0, 0, 0, 75%);
$black-50: rgba(0, 0, 0, 50%);
$black-25: rgba(0, 0, 0, 25%);

// Secondary

// Highlight
$highlight-yellow: #fff90a;
$highlight-green: #46ea77;
$highlight-blue: #0065fc;
$highlight-red: #ff3d0a;
$highlight-purple: #802dfa;

// Functional

// Greys
$grey-100: #545454;
$grey-75: #75716f;
$grey-50: #eae9e6;
$grey-25: #f9f8f7;

// Semantic

// Text
$text-default: #000;
$text-inverted: #fff;
$text-supporting: #545454;

// CTAs
$cta-default: #000;
$cta-disabled: #eae9e6;
$cta-hover: #75716f;
$cta-inactive: #75716f;
$cta-focus: #545454;

// Background
$bg-default: #fff;
$bg-soft: #f9f8f7;
$bg-border: #eae9e6;
$bg-inverted: #000;
$bg-overlay: rgba(0, 0, 0, 50%);

// Status
$success-default: #00cc39;
$warning-default: #ea0404;
$status-info: #0065fc;
$focus-default: #07c;

// admin colors
$admin-alert: #f24a4a;
$admin-success: #10bc94;

// LEGACY MAPPING (updated to new tokens):
// --- Legacy Primary color palette ---
$pure-black: $black-100;
$primary-black: $black-75;
$white: $white-100;

// --- Legacy Utilitarian color palette ---
$soft-black: $grey-100;
$dark-gray: $grey-75;
$soft-black-2: $grey-100;
$keyline-gray: $grey-75;
$medium-gray: $grey-50;
$soft-gray: $grey-25;
$pale-gray: $grey-25;
$light-gray: $grey-50;
$off-white: $grey-25;

// --- Legacy Notification color palette ---
$error-red: $highlight-red;
$error-pink: $highlight-purple;
$warn-yellow: $highlight-yellow;
$post-sale-pink: $highlight-purple;
$cta-blue: $highlight-blue;
$badge-blue: $highlight-blue;

// --- Legacy AM color palette ---
$widget-blue: $highlight-blue;
$widget-green: $highlight-green;
$widget-maroon: $highlight-red;
$widget-red: $highlight-red;
$clock-widget-blue: $highlight-blue;
$clock-widget-green: $highlight-green;
$clock-widget-maroon: $highlight-red;
$clock-widget-red: $highlight-red;

// --- Legacy Articker color palette ---
$articker-red: $highlight-red;
$articker-orange: $highlight-yellow;
$articker-red-orange-gradient: linear-gradient(90deg, $highlight-red, $highlight-yellow);
$overlay-black: $black-75;

// --- Legacy legacy mapping ---
$pure-white: $white-100;
$post-sale-magenta: $highlight-purple;

// --- Legacy Text variables ---
$header-color: $black-100;
$text-color: $grey-100;

// --- Legacy Interactive Colors ---
$button-hover: $grey-75;

// --- Legacy Misc. Colors ---
$countdown-compact: $highlight-red;

////////////////////////
/// FONTS:
///////////////////////
// Font-variables
$DistinctDisplay: 'DistinctDisplay';
$DistinctDisplayItalic: 'DistinctDisplayItalic';
$DistinctItalic: 'DistinctItalic';
$DistinctText: 'DistinctText';
$Distinct: 'Distinct';
$header-family: $DistinctDisplay;
$text-family: $DistinctText;

////////////////////////
/// LABEL TOKENS:
///////////////////////

// Used with the labelText mixin
// @include labelText($label)
$button: 'button';
$link: 'link';
$email: 'email';
$label: 'label';
$badge: 'badge';

// Used with the hText mixin
$blockquote: 'blockquote';
$heading1: 'heading1';
$heading2: 'heading2';
$heading3: 'heading3';
$heading4: 'heading4';
$heading5: 'heading5';
$title1: 'title1';
$title2: 'title2';
$title3: 'title3';
$title4: 'title4';
$body1: 'body1';
$body2: 'body2';
$body3: 'body3';
$string1: 'string1';
$string2: 'string2';
$string3: 'string3';
$snwHeaderLink: 'snwHeaderLink';
$snwFlyoutLink: 'snwFlyoutLink';
$snwHeadingHero1: 'snwHeadingHero1';
$snwHeadingHero2: 'snwHeadingHero2';

// New Typography Variables
$display4XL: 'display4XL';
$display3XL: 'display3XL';
$heading2XL: 'heading2XL';
$headingXL: 'headingXL';
$headingL: 'headingL';
$headingM: 'headingM';
$headingS: 'headingS';
$bodyL: 'bodyL';
$bodyM: 'bodyM';
$bodyS: 'bodyS';
$linkStylised: 'linkStylised';
$linkL: 'linkL';
$linkM: 'linkM';
$linkS: 'linkS';
$text-tokens: $button, $link, $email, $label, $badge, $blockquote, $heading1, $heading2, $heading3, $heading4, $heading5,
  $title1, $title2, $title3, $title4, $body1, $body2, $body3, $string1, $string2, $string3, $snwFlyoutLink,
  $snwHeaderLink, $snwHeadingHero1, $snwHeadingHero2, $display4XL, $display3XL, $heading2XL, $headingXL, $headingL,
  $headingM, $headingS, $bodyL, $bodyM, $bodyS, $linkStylised, $linkL, $linkM, $linkS;

////////////////////////
/// Breakpoint TOKENS to be used for min-width comparisons, make sure they match BREAKPOINTS in constants.ts
///////////////////////
$breakpoint-sm: 361px;
$breakpoint-md: 961px;
$breakpoint-lg: 1401px;
$breakpoint-xl: 1801px;

////////////////////////
/// FONT SIZE TOKENS:
///////////////////////
// @TODO: These tokens need to be aligned with the new values from the design system https://www.figma.com/design/hMu9IWH5N3KamJy8tLFdyV/EASEL-Compendium%3A-Tokens%2C-Components-%26-Patterns?node-id=7263-1361&node-type=canvas&m=dev
// Once we update ObjectTile and other components will need to be updated to match the new token.

$line-height-m-units: 0.25rem;
$line-height-l-units: 0.5rem;

:root {
  --desktop-max-width: 120rem;
  --quote-size: 1.5rem;
  --quote-line-height: 2rem;
  --heading-size1: 1.5rem;
  --heading-line-height-size1: 1.75rem;
  --heading-size2: 1.5rem;
  --heading-line-height-size2: 1.75rem;
  --heading-size3: 1.25rem;
  --heading-line-height-size3: 1.5rem;
  --heading-size4: 1rem;
  --heading-line-height-size4: 1.25rem;
  --heading-size5: 0.75rem;
  --heading-line-height-size5: 1rem;
  --string-size1: 1rem;
  --string-line-height-size1: 1.25rem;
  --string-size2: 0.75rem;
  --string-line-height-size2: 1rem;
  --string-size3: 0.5rem;
  --string-line-height-size3: 0.75rem;
  --body-size1: 1rem;
  --body-line-height-size1: 1.5rem;
  --body-size2: 0.75rem;
  --body-line-height-size2: 1.25rem;
  --body-size3: 0.5rem;
  --body-line-height-size3: 1rem;
  --label-size1: 1rem;
  --label-size2: 0.75rem;
  --label-size3: 0.56rem;
  --label-size4: 0.56rem;
  --link-label-size: 0.75rem;
  --link-label-line-height: 0.75rem;
  --button-label-size: 0.75rem;
  --button-label-line-height: 1rem;
  --button-tertiary-height: 1.75rem;
  --badge-label-size: 0.5rem;
  --badge-label-line-height: 0.67rem;
  --snw-header-link-size: 1rem;
  --snw-header-link-line-height: 1.5rem;
  --snw-flyout-link-size: 1rem;
  --snw-flyout-link-line-height: 1.75rem;
  --snw-heading-hero-size1: 2rem;
  --snw-heading-hero-line-height-size1: 2.375rem;
  --snw-heading-hero-size2: 1.625rem;
  --snw-heading-hero-line-height-size2: 1.9375rem;
  --snw-note-size: 0.75rem;
  --snw-note-line-height: 1rem;

  // FONT SIZES

  @include font-size-vars--sm;

  @media (min-width: $breakpoint-md) {
    --quote-size: 1.75rem;
    --quote-line-height: 2.25rem;
    --heading-size1: 1.75rem;
    --heading-line-height-size1: 2rem;
    --heading-size2: 1.75rem;
    --heading-line-height-size2: 2rem;
    --heading-size3: 1.5rem;
    --heading-line-height-size3: 1.75rem;
    --heading-size4: 1.25rem;
    --heading-line-height-size4: 1.5rem;
    --heading-size5: 1rem;
    --heading-line-height-size5: 1.25rem;
    --string-size1: 1.25rem;
    --string-line-height-size1: 1.5rem;
    --string-size2: 1rem;
    --string-line-height-size2: 1.25rem;
    --string-size3: 0.75rem;
    --string-line-height-size3: 1rem;
    --body-size1: 1.25rem;
    --body-line-height-size1: 1.75rem;
    --body-size2: 1rem;
    --body-line-height-size2: 1.5rem;
    --body-size3: 0.75rem;
    --body-line-height-size3: 1.25rem;
    --label-size1: 1.25rem;
    --label-size2: 1rem;
    --label-size3: 0.75rem;
    --label-size4: 0.75rem;
    --link-label-size: 1rem;
    --link-label-line-height: 1rem;
    --button-label-size: 1rem;
    --button-label-line-height: 1.25rem;
    --badge-label-size: 0.75rem;
    --badge-label-line-height: 1rem;
    --snw-header-link-size: 1rem;
    --snw-header-link-line-height: 1.5rem;
    --snw-flyout-link-size: 0.875rem;
    --snw-flyout-link-line-height: 1.75rem;
    --snw-heading-hero-size1: 2.375rem;
    --snw-heading-hero-line-height-size1: 2.875rem;
  }

  @media (min-width: $breakpoint-lg) {
    --snw-flyout-link-size: 0.875rem;
    --snw-flyout-link-line-height: 1.75rem;
  }

  @media (min-width: $breakpoint-xl) {
    --quote-size: 2rem;
    --quote-line-height: 2.5rem;
    --heading-size1: 2rem;
    --heading-line-height-size1: 2.25rem;
    --heading-size2: 2rem;
    --heading-line-height-size2: 2.25rem;
    --heading-size3: 1.75rem;
    --heading-line-height-size3: 2rem;
    --heading-size4: 1.5rem;
    --heading-line-height-size4: 1.75rem;
    --heading-size5: 1.25rem;
    --heading-line-height-size5: 1.5rem;
    --string-size1: 1.5rem;
    --string-line-height-size1: 1.75rem;
    --string-size2: 1.25rem;
    --string-line-height-size2: 1.5rem;
    --string-size3: 1rem;
    --string-line-height-size3: 1.25rem;
    --body-size1: 1.5rem;
    --body-line-height-size1: 2rem;
    --body-size2: 1.25rem;
    --body-line-height-size2: 1.75rem;
    --body-size3: 1rem;
    --body-line-height-size3: 1.5rem;
    --label-size1: 1.56rem;
    --label-size2: 1.25rem;
    --label-size3: 1rem;
    --link-label-size: 1.25rem;
    --link-label-line-height: 1.25rem;
    --button-label-size: 1.25rem;
    --button-label-line-height: 1.5rem;
    --badge-label-size: 1rem;
    --badge-label-line-height: 1.5rem;
    --snw-header-link-size: 1.125rem;
    --snw-header-link-line-height: 1.75rem;
    --snw-flyout-link-size: 1.125rem;
    --snw-flyout-link-line-height: 2.125rem;

    // FONT SIZES
    @include font-size-vars--lg;
  }
}

// TITLE
$title-size1: var(--heading-size1);
$title-size2: var(--heading-size2);
$title-size3: var(--heading-size3);
$title-size4: var(--heading-size4);

// HEADING
$heading-size1: var(--heading-size1);
$heading-line-height-size1: var(--heading-line-height-size1);
$heading-size2: var(--heading-size2);
$heading-line-height-size2: var(--heading-line-height-size2);
$heading-size3: var(--heading-size3);
$heading-line-height-size3: var(--heading-line-height-size3);
$heading-size4: var(--heading-size4);
$heading-line-height-size4: var(--heading-line-height-size4);
$heading-size5: var(--heading-size5);
$heading-line-height-size5: var(--heading-line-height-size5);

// BODY
$body-size1: var(--body-size1);
$body-line-height-size1: var(--body-line-height-size1);
$body-size2: var(--body-size2);
$body-line-height-size2: var(--body-line-height-size2);
$body-size3: var(--body-size3);
$body-line-height-size3: var(--body-line-height-size3);

// STRING
$string-size1: var(--string-size1);
$string-line-height-size1: var(--string-line-height-size1);
$string-size2: var(--string-size2);
$string-line-height-size2: var(--string-line-height-size2);
$string-size3: var(--string-size3);
$string-line-height-size3: var(--string-line-height-size3);

// LABELS
$email-label-size: var(--label-size2);
$text-label-size: var(--label-size3);
$badge-label-size: var(--label-size3);
$link-label-size: var(--link-label-size);
$button-label-size: var(--button-label-size);
$link-label-line-height: var(--link-label-line-height);
$button-label-line-height: var(--button-label-line-height);
$button-tertiary-height: var(--button-tertiary-height);
$badge-label-size: var(--badge-label-size);
$badge-label-line-height: var(--badge-label-line-height);
$snw-header-link-size: var(--snw-header-link-size);
$snw-header-link-line-height: var(--snw-header-link-line-height);
$snw-flyout-link-size: var(--snw-flyout-link-size);
$snw-flyout-link-line-height: var(--snw-flyout-link-line-height);
$snw-heading-hero-size1: var(--snw-heading-hero-size1);
$snw-heading-hero-line-height1: var(--snw-heading-hero-line-height-size1);
$snw-heading-hero-size2: var(--snw-heading-hero-size2);
$snw-heading-hero-line-height2: var(--snw-heading-hero-line-height-size2);

////////////////////////
/// SPACING TOKENS:
///////////////////////

// SNOWFLAKES
$snowflake-menu-padding: 1.25rem;
$snowflake-note-size: var(--snw-note-size);
$snowflake-note-line-height: var(--snw-note-line-height);

/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  --snw-button-padding: 0.8125rem;
  --spacing-micro: 0.25rem;
  --spacing-xsm: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1.75rem;
  --spacing-lg: 2.75rem;
  --spacing-xl: 3.75rem;
  --spacing-xxl: 4.75rem;
  --spacing-xxxl: 5.75rem;

  @media (min-width: $breakpoint-md) {
    --snw-button-padding: 0.8125rem;
    --spacing-micro: 0.25rem;
    --spacing-xsm: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
    --spacing-xl: 4rem;
    --spacing-xxl: 5rem;
    --spacing-xxxl: 6rem;
  }

  @media (min-width: $breakpoint-xl) {
    --snw-button-padding: 0.813rem;
    --spacing-micro: 0.5rem;
    --spacing-xsm: 0.75rem;
    --spacing-sm: 1.25rem;
    --spacing-md: 2.25rem;
    --spacing-lg: 3.25rem;
    --spacing-xl: 4.25rem;
    --spacing-xxl: 5.25rem;
    --spacing-xxxl: 6.25rem;
  }
}

$spacing-micro: var(--spacing-micro);
$spacing-xsm: var(--spacing-xsm);
$spacing-sm: var(--spacing-sm);
$spacing-md: var(--spacing-md);
$spacing-lg: var(--spacing-lg);
$spacing-xl: var(--spacing-xl);
$spacing-xxl: var(--spacing-xl);
$spacing-xxxl: var(--spacing-xxxl);
$spacing-sizes: micro, xsm, sm, md, lg, xl, xxl, xxxl;

// PADDING
$padding-micro: var(--spacing-micro);
$padding-xsm: var(--spacing-xsm);
$padding-sm: var(--spacing-sm);
$padding-md: var(--spacing-md);
$padding-lg: var(--spacing-lg);
$padding-xl: var(--spacing-xl);
$padding-xxl: var(--spacing-xxl);
$padding-tokens: $padding-micro, $padding-xsm, $padding-sm, $padding-md, $padding-lg, $padding-xl, $padding-xxl;
$snw-button-padding: var(--snw-button-padding);

// MARGIN
$margin-micro: var(--spacing-micro);
$margin-xsm: var(--spacing-xsm);
$margin-sm: var(--spacing-sm);
$margin-md: var(--spacing-md);
$margin-lg: var(--spacing-lg);
$margin-xl: var(--spacing-xl);
$margin-xxl: var(--spacing-xxl);

////////////////////////
/// HEADER TOKENS:
///////////////////////
/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  --header-height: 56px; // ideally we would calculate the size from the current text size plus spacing components so that it scales with the text size and spacing
  --search-size: 2.625rem; // This should be calculated from the scaling text and scaling spacing tokens instead of hardcoding in case they change
  --banner-height: 0px;

  @media (min-width: $breakpoint-md) {
    --header-height: 123px; // ideally we would calculate the size from the current text size plus spacing components so that it scales with the text size and spacing
  }

  @media (min-width: $breakpoint-xl) {
    --header-height: 135px; // ideally we would calculate the size from the current text size plus spacing components so that it scales with the text size and spacing
    --search-size: 2.875rem; // This should be calculated from the scaling text and scaling spacing tokens instead of hardcoding in case they change
  }
}

////////////////////////
/// max-site-width TOKEN:
///////////////////////
$max-site-width: 1560px;
$desktop-max-width: var(--desktop-max-width);

////////////////////////
/// z-index TOKENS:
///////////////////////
$modal-z-index: 30;
$notification-banner-z-index: 10;

////////////////////////
/// Our tokens usually support at least 4 sizes.
///////////////////////
$size-sm: 'sm';
$size-md: 'md';
$size-lg: 'lg';
$size-xl: 'xl';
$size-xxl: 'xxl';
$default-transition: 150ms cubic-bezier(0.16, 1, 0.3, 1);
$drawer-content-transition: 350ms cubic-bezier(0, 0, 0.2, 1);
$default-overlay-transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);

////////////////////////
/// Mobile-specific tokens
///////////////////////
$mobile-minimum-clickable-area: 44px;

////////////////////////
/// Header Tokens
///
$search-size: var(--search-size);
$header-height: var(--header-height);
