// prefix
$px: phillips;

////////////////////////
/// COlORS:
///////////////////////

// Primary color palette
$pure-black: #000;
$primary-black: #323232;
$white: #fff;

// Secondary color palette
$soft-black: #545454;
$dark-gray: #7b7474;
$soft-black-2: #535050;

// Utilititarian color palette
$keyline-gray: #949494;
$medium-gray: #c3bebb;
$light-gray: #eceae7;
$off-white: #f4f2f1;

// Notification color palette
$error-red: #f00;
$error-pink: rgba(255, 229, 229, 90%);
$warn-yellow: #d6d141;
$post-sale-pink: #ff0086;
$cta-blue: #4a90e2;

// AM color palette
$widget-blue: #4a90e2;
$widget-green: #6a9c53;
$widget-maroon: #6b0000;
$widget-red: #b00000;
$clock-widget-blue: $widget-blue;
$clock-widget-green: $widget-green;
$clock-widget-maroon: $widget-maroon;
$clock-widget-red: $widget-red;

// Articker color palette
$articker-red: #fc1e2b;
$articker-orange: #ff8201;
$articker-red-orange-gradient: linear-gradient(90deg, #fc1e2b, #ff8201);

// Legacy mapping
$pure-white: $white;
$post-sale-magenta: $post-sale-pink;

// Text variables
$header-color: $pure-black;
$text-color: $soft-black;

////////////////////////
/// FONTS:
///////////////////////
// Font-variables
$DistinctDisplay: 'DistinctDisplay';
$DistinctDisplayItalic: 'DistinctDisplayItalic';
$DistinctItalic: 'DistinctItalic';
$DistinctText: 'DistinctText';
$Distinct: 'Distinct';
$header-family: $DistinctDisplay;
$text-family: $DistinctText;

////////////////////////
/// LABEL TOKENS:
///////////////////////

// Used with the labelText mixin
// @include labelText($label)
$button: 'button';
$cta-sm: 'cta-sm';
$cta-lg: 'cta-lg';
$email: 'email';
$label: 'label';
$badge: 'badge';
$display0: 'display0';
$display1: 'display1';
$display2: 'display2';
$display3: 'display3';
$display4: 'display4';
$blockquote: 'blockquote';
$heading2: 'heading2';
$heading3: 'heading3';
$heading4: 'heading4';
$body1: 'body1';
$body2: 'body2';
$body3: 'body3';
$text-tokens: $button, $cta-sm, $cta-lg, $email, $label, $badge, $display0, $display1, $display2, $display3, $display4,
  $blockquote, $heading2, $heading3, $heading4, $body1, $body2, $body3;

////////////////////////
/// FONT SIZE TOKENS:
///////////////////////

:root {
  --heading-size0: 3.25rem;
  --heading-size1: 2.44rem;
  --heading-size2: 1.95rem;
  --heading-size3: 1.56rem;
  --heading-size4: 1.56rem;
  --body-size1: 1.25rem;
  --body-size2: 1rem;
  --body-size3: 0.75rem;
  --label-size1: 1.25rem;
  --label-size2: 1rem;
  --label-size3: 0.75rem;

  @media (max-width: 960px) {
    --heading-size0: 2.59rem;
    --heading-size1: 1.83rem;
    --heading-size2: 1.46rem;
    --heading-size3: 1.17rem;
    --heading-size4: 0.94rem;
    --body-size1: 0.94rem;
    --body-size2: 0.75rem;
    --body-size3: 0.56rem;
    --label-size1: 1rem;
    --label-size2: 0.75rem;
    --label-size3: 0.56rem;
  }

  @media (min-width: 1801px) {
    --heading-size0: 4.06rem;
    --heading-size1: 3.05rem;
    --heading-size2: 2.44rem;
    --heading-size3: 1.95rem;
    --body-size1: 1.56rem;
    --body-size2: 1.25rem;
    --body-size3: 0.94rem;
    --label-size1: 1.56rem;
    --label-size2: 1.25rem;
    --label-size3: 1rem;
  }
}

// DISPLAY
$display-size0: var(--heading-size0);
$display-size1: var(--heading-size1);
$display-size2: var(--heading-size2);
$display-size3: var(--heading-size3);
$display-size4: var(--heading-size4);

// HEADING
$heading-size1: var(--heading-size1);
$heading-size2: var(--heading-size2);
$heading-size3: var(--heading-size3);
$heading-size4: var(--heading-size4);

// BODY
$body-size1: var(--body-size1);
$body-size2: var(--body-size2);
$body-size3: var(--body-size3);

// LABELS
$button-label-size: var(--label-size2);
$cta-sm-label-size: var(--label-size2);
$email-label-size: var(--label-size2);
$cta-lg-label-size: var(--label-size1);
$text-label-size: var(--label-size3);
$badge-label-size: var(--label-size3);

////////////////////////
/// SPACING TOKENS:
///////////////////////
/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  --spacing-micro: 0.25rem;
  --spacing-xsm: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 6rem;

  @media (max-width: 960px) {
    --spacing-micro: 0.19rem;
    --spacing-xsm: 0.38rem;
    --spacing-sm: 0.75rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2.25rem;
    --spacing-xl: 4.8rem;
  }

  @media (min-width: 1801px) {
    --spacing-micro: 0.31rem;
    --spacing-xsm: 0.63rem;
    --spacing-sm: 1.25rem;
    --spacing-md: 2.5rem;
    --spacing-lg: 3.75rem;
    --spacing-xl: 7.5rem;
  }
}

$spacing-micro: var(--spacing-micro);
$spacing-xsm: var(--spacing-xsm);
$spacing-sm: var(--spacing-sm);
$spacing-md: var(--spacing-md);
$spacing-lg: var(--spacing-lg);
$spacing-xl: var(--spacing-xl);

// PADDING
$padding-micro: var(--spacing-micro);
$padding-xsm: var(--spacing-xsm);
$padding-sm: var(--spacing-sm);
$padding-md: var(--spacing-md);
$padding-lg: var(--spacing-lg);
$padding-xl: var(--spacing-xl);
$padding-tokens: $padding-micro, $padding-xsm, $padding-sm, $padding-md, $padding-lg, $padding-xl;

// MARGIN
$margin-micro: var(--spacing-micro);
$margin-xsm: var(--spacing-xsm);
$margin-sm: var(--spacing-sm);
$margin-md: var(--spacing-md);
$margin-lg: var(--spacing-lg);
$margin-xl: var(--spacing-xl);

////////////////////////
/// Breakpoint TOKENS that map to minimum pixels
///////////////////////
$breakpoint-sm: 461px;
$breakpoint-md: 1301px;
$breakpoint-lg: 1401px;
$breakpoint-xl: 1801px;

////////////////////////
/// max-site-width TOKEN:
///////////////////////
$max-site-width: 1560px;

////////////////////////
/// height Tokens
///////////////////////
$header-height: 60px;
$user-management-height: 30px;

////////////////////////
/// Our tokens usually support at least 4 sizes.
///////////////////////
$size-sm: 'sm';
$size-md: 'md';
$size-lg: 'lg';
$size-xl: 'xl';
