@use '#scss/allPartials' as *;

.#{$px}-accordion {
  border-top: 1px solid $light-gray;
  margin-bottom: 10px;
  width: 100%;
}

.#{$px}-accordion-item {
  padding: $spacing-sm 0;
  width: 100%;

  svg {
    max-width: unset;
  }

  &__border-bottom {
    border-bottom: 1px solid $light-gray;
  }

  &[data-state='open'] {
    display: block;
    font-variation-settings: 'wght' 400;
    height: auto;
  }

  &__content--lg {
    @include text($body2);

    margin: 1.25rem 0;
  }

  &--transition {
    overflow: hidden;
  }

  &--transition[data-state='open'] {
    animation: slide-down 250ms ease-in-out;
  }

  &--transition[data-state='closed'] {
    animation: slide-up 250ms ease-in-out;
  }

  &[data-state='open'] {
    .#{$px}-accordion-item-label-plus__icon {
      display: none;
    }

    .#{$px}-accordion-item-label-minus__icon {
      display: block;
    }
  }

  &[data-state='closed'] {
    .#{$px}-accordion-item-label-plus__icon {
      display: block;
    }

    .#{$px}-accordion-item-label-minus__icon {
      display: none;
    }
  }

  @keyframes slide-down {
    from {
      height: 0;
      opacity: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
  }

  @keyframes slide-up {
    from {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }

    to {
      height: 0;
      opacity: 0;
    }
  }
}

.#{$px}-accordion-item-label {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.75;

  &--hoverable {
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__text {
    flex: auto;
    font-variation-settings: 'wght' 600;

    @include text($body2);
  }

  &__text--lg {
    @include text($body1);
  }

  &__icon {
    flex: initial;
    height: 1.5rem;
    width: 1.5rem;
  }

  &__icon--lg {
    height: 2rem;
    width: 2rem;
  }

  &--blue-fill {
    filter: brightness(0) saturate(100%) invert(51%) sepia(72%) saturate(1698%) hue-rotate(191deg) brightness(95%)
      contrast(86%);
  }
}
