@import '#scss/_vars';

.#{$px}-accordion {
  border-bottom: 1px solid $keyline-gray;
  border-top: 1px solid $keyline-gray;
  margin-bottom: 10px;
  width: 100%;
}

.#{$px}-accordion-item {
  padding: $spacing-sm;

  &__border-bottom {
    border-bottom: 1px solid $keyline-gray;
  }

  &--expanded {
    display: block;
    font-weight: 400;
    height: auto;
    margin: 10px 0;
  }

  &__content--lg {
    @include text($body2);

    margin: 1.25rem 0;
  }

  &--transition {
    overflow: hidden;
  }

  &--transition[data-state='open'] {
    animation: slide-down 250ms ease-out;
  }

  &--transition[data-state='closed'] {
    animation: slide-up 250ms end;
  }

  @keyframes slide-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes slide-up {
    from {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }

    to {
      height: 0;
      opacity: 0;
    }
  }
}

.#{$px}-accordion-item-label {
  display: flex;
  flex-direction: row;
  opacity: 0.75;

  &--hoverable {
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__text {
    flex: auto;

    @include text($body1);
    @include DistinctDisplay;
  }

  &__text--lg {
    @include text($heading3);
  }

  &__icon {
    flex: initial;
    height: 1.5rem;
    width: 1.5rem;
  }

  &__icon--lg {
    height: 2rem;
    width: 2rem;
  }
}
