@use '#scss/allPartials' as *;

.#{$px}-accordion {
  border-top: 1px solid $light-gray;
  width: 100%;
}

.#{$px}-accordion-item {
  width: 100%;

  &--large {
    padding: $snowflake-menu-padding 0;
  }

  svg {
    max-width: unset;
  }

  &__border-bottom {
    border-bottom: 1px solid $light-gray;
  }

  &[data-state='open'] {
    display: block;
    height: auto;
  }

  &__content {
    padding-bottom: $spacing-md;

    &--locked {
      padding-bottom: $spacing-sm;
    }
  }

  &__content--lg {
    @include text($bodyMd);
  }

  &--transition[data-state='open'] {
    animation: slide-down var(--seldon-accordion-transition-time) ease-in-out;
  }

  &--transition[data-state='closed'] {
    animation: slide-up var(--seldon-accordion-transition-time) ease-in-out;
  }

  &--transition {
    overflow: hidden;
  }

  &--transition[data-state='open'] {
    animation: slide-down var(--seldon-accordion-transition-time) ease-in-out;
  }

  &--transition[data-state='closed'] {
    animation: slide-up var(--seldon-accordion-transition-time) ease-in-out;
  }

  &[data-state='open'] {
    .#{$px}-accordion-item-label-plus__icon {
      display: none;
    }

    .#{$px}-accordion-item-label-minus__icon {
      display: block;
    }
  }

  &[data-state='closed'] {
    .#{$px}-accordion-item-label-plus__icon {
      display: block;
    }

    .#{$px}-accordion-item-label-minus__icon {
      display: none;
    }
  }

  @keyframes slide-down {
    from {
      height: 0;
      opacity: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
  }

  @keyframes slide-up {
    from {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }

    to {
      height: 0;
      opacity: 0;
      padding: 0;
    }
  }
}

.#{$px}-accordion-item-label {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $spacing-sm 0;

  &--large {
    padding: $snowflake-menu-padding 0;
  }

  &--hoverable {
    cursor: pointer;

    &:hover,
    &:focus-visible {
      opacity: 0.75;
    }
  }

  &__text {
    @include text($labelMd);

    flex: auto;
    font-variation-settings: 'wght' 600;
    text-align: left;
  }

  &__text--lg {
    @include text($bodyLgBold);
  }

  &__icon {
    flex: initial;
    height: 0.875rem;
    width: 1.5rem;
  }

  &__icon--lg {
    height: 1.5rem;
    width: 2rem;
  }

  @include media($breakpoint-md) {
    &__icon {
      flex: initial;
      height: 1rem;
      width: 1.5rem;
    }

    &__icon--lg {
      height: 1.5rem;
      width: 2rem;
    }
  }

  @include media($breakpoint-xl) {
    &__icon {
      flex: initial;
      height: 1.25rem;
      width: 1.75rem;
    }

    &__icon--lg {
      height: 2rem;
      width: 3rem;
    }
  }

  &--blue-fill {
    filter: brightness(0) saturate(100%) invert(51%) sepia(72%) saturate(1698%) hue-rotate(191deg) brightness(95%)
      contrast(86%);
  }
}
