@use '~scss/allPartials' as *;

.#{$px}-link {
  color: $pure-black;
  text-decoration: none;

  &:focus-visible {
    @include focus-ring($border-radius: $radius-xs);
  }

  &--email.#{$px}-link--email,
  &--link.#{$px}-link--link,
  &--linkSmall,
  &--linkMedium,
  &--linkLarge {
    @include underline($offset: 1px);
  }

  &--linkLarge {
    @include text($linkLarge);
  }

  &--linkMedium {
    @include text($linkMedium);
  }

  &--linkSmall {
    @include text($linkSmall);
  }

  &--linkStylised {
    @include text($linkStylised);
  }

  &--email,
  &--link {
    &:hover,
    &:focus-visible {
      color: $dark-gray;
    }
  }

  &--email {
    @include text($linkMedium);

    .#{$px}-text {
      font-variation-settings: 'wght' 600;
    }
  }

  &--link {
    @include text($link);
  }

  &--snwHeaderLink {
    @include text($linkStylised);

    padding: 0.5rem 0.625rem calc(0.5rem + 2px); // 1 px so that the bottom border of the nav counts as part of the button
    position: relative;
    text-align: center;

    @include media($breakpoint-md) {
      &:hover::after,
      &:focus-visible::after {
        background: $pure-black;
        bottom: -1px;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
      }
    }
  }

  &--snwFlyoutLink {
    border-bottom: 1px solid transparent;

    @include text($linkLarge);

    &:hover,
    &:focus-visible {
      @include underline($color: $dark-gray); // 1 px so that the bottom border of the nav counts as part of the button

      color: $dark-gray;
    }
  }
}
