@use '#scss/allPartials' as *;

.#{$px}-link {
  color: $pure-black;
  text-decoration: none;
  white-space: nowrap;

  &--email,
  &--link {
    @include underline;
  }

  &--email,
  &--link,
  &--snwFlyoutLink {
    &:hover,
    &:focus {
      @include underline($color: $dark-gray);

      color: $dark-gray;
    }
  }

  &--email {
    @include text($email);
  }

  &--link {
    @include text($link);
  }

  &--snwHeaderLink {
    @include text($snwHeaderLink);

    position: relative;
    text-align: center;

    &:hover::after,
    &:focus::after {
      background: $pure-black;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
      top: 35px;
    }
  }

  &--snwFlyoutLink {
    @include text($snwFlyoutLink);
  }
}
