@use '#scss/allPartials' as *;

.#{$px}-navigation-item-trigger {
  flex-direction: column;
  justify-content: center;

  @include isHeaderMobile {
    display: none;
  }

  & > button {
    color: $pure-black;
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;

    @include isHeaderDesktop {
      color: unset;
      justify-content: center;
    }
  }

  @include isHeaderDesktop {
    &--hovered button::after {
      background-color: $pure-black;
      bottom: -1px;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
    }

    & > &__submenu {
      align-items: flex-start;
      border-top: 1px solid $light-gray;
      height: fit-content;
      max-height: 0;
      opacity: 0;
      padding: $padding-md;
      pointer-events: none;
      position: fixed; // has to bust out of the box containing it on desktop
      right: 0;
      top: calc($header-height + 1px);
      transition:
        max-height 0.2s ease-in-out,
        opacity 0s ease-in-out 0.2s,
        z-index 0s ease-in-out 0.2s;
      width: 100%;
      z-index: -1;
      .#{$px}-nav__list__section {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }
    }

    &--hovered &__submenu {
      left: 0;
      max-height: 700px;
      opacity: 1;
      pointer-events: all;
      transition:
        max-height 0.25s ease-in-out,
        z-index 0s ease-in-out 0.25s;
      z-index: 1;

      .#{$px}-nav__list__section {
        opacity: 1;
      }
    }
  }

  @include isHeaderDesktop {
    ul {
      background-color: $pure-white;
      height: auto;
      left: 0;
      overflow: hidden;
      position: absolute;

      li {
        display: inline;

        button,
        a,
        p {
          @include isHeaderDesktop {
            border: none;
          }
        }
      }
    }
  }
}
