@use '~scss/allPartials' as *;

.#{$px}-navigation-item-trigger {
  flex-direction: column;
  justify-content: center;

  @include isHeaderMobile {
    display: none;
  }

  & > button {
    color: $pure-black;
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;

    @include isHeaderDesktop {
      color: unset;
      display: block;
      text-align: center;

      // Match .nav__item .nav__link--linkStylised typography so trigger label aligns with link labels
      @include text($linkStylised);

      &:focus-visible {
        @include focus-ring($border-radius: $radius-xs);
      }
    }
  }

  @include isHeaderDesktop {
    // Underline on button (full-width like .nav__item .nav__link--linkStylised) when open, hover or focus
    &[data-state='open'] > button::after,
    &--hovered > button::after,
    & > button:hover::after,
    & > button:focus-visible::after {
      background-color: $pure-black;
      bottom: -1px;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
    }

    // Radix: submenu content is rendered in viewport (_navigation.scss); these styles apply when content is in viewport
    &__submenu[data-state='open'] {
      box-sizing: border-box;
      cursor: default;
      left: 0;
      max-height: calc(90vh - #{$header-height} + var(--banner-height));
      min-width: 100%;
      -ms-overflow-style: none;
      overflow-y: auto;
      padding: 0;
      scrollbar-width: none;
      width: 100%;

      &::-webkit-scrollbar {
        display: none;
      }

      .#{$px}-nav__list__section {
        opacity: 1;
      }
    }
  }

  &__submenu--mobile.#{$px}-nav__list {
    padding: 0 0 $snowflake-menu-padding;
  }
}
