@use '#scss/allPartials' as *;

.#{$px}-progress-indicator {
  &__steps {
    align-items: flex-start;
    display: flex;
    gap: 0;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  &__item {
    align-items: center;
    display: flex;
    gap: $spacing-xsm;
    position: relative;
  }

  &__circle {
    align-items: center;
    border: 1px solid $pure-black;
    border-radius: 50%;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    padding: 0;
    width: 1.5rem;

    .#{$px}-text {
      font-variation-settings: 'wght' 600;
    }

    &--active,
    &--current {
      background-color: $pure-black;
      color: $white-100;

      svg {
        color: $white-100;
      }
    }
  }

  &__label {
    display: none;
    margin-bottom: $spacing-micro;

    @media (min-width: $breakpoint-md) {
      display: inline-block;
      text-align: center;
      white-space: nowrap;
    }

    @include media($breakpoint-lg) {
      margin-bottom: 0;
    }
  }

  &__connector {
    align-self: center;
    background: $pure-black;
    flex: 1 1 0;
    height: 1px;
    margin: 0 $spacing-xsm;
    min-width: 8px;
  }
}
